table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-collapse: collapse;
    text-align: center;
    border: 1px;
}
table.gridtable th {
    padding: 15px;
    background-color: #dedede;
}
table.gridtable td {
    padding: 5px;
    background-color: #ffffff;
}

table.gridtable  th, td
{
    border: 1px solid black;
}

