#footer{
    background: #856fb5; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc800', endColorstr='#ff9c00',GradientType=0 ); /* IE6-9 */
	height: 310px;
	padding-top: 15px;
    padding-bottom: 15px;
	clear: left;

}
#footer .footer_block{
	margin:0px auto;
	padding-left: 5px;
}
#footer .footer_block ul{
    width:1043px;
margin-left: 121px;
    background: #ffffff;
    padding: 10px 0;
    border: 7px solid #9b81d3;
}

#footer .footer_block ul li {
	float: left;
	margin-right: 0;
    margin-bottom: 0;
    	line-height: 18px;
    margin-left: 15px;
	color: #fff;
	width: 130px;
	font-size: 12px;
	font-weight: bold;
}
#footer .footer_block ul li a{
	color: #ffffff;
    width: 105px;
    padding: 15px 19px;
    background: #9b81d3;
	float: left;
	font-family: 'Arial';
    border: 1px solid #856fb5;
}
#footer .footer_block ul li a:hover{
    opacity: 0.6;
}
#footer .footer_block .create_center{
	color:#000;
	text-align:center;
	padding-top: 10px;
	margin-left: 15px;
width: 105px;
}

#footer .footer_block .create_center p{
	font-weight: bold;}
#footer .footer_block .create_center a{
    display: none;
	color:#000;}
#copy_right{
    float: left;
    width:1033px;
    margin-left: 121px;
    margin-top: -30px;
    background: #856fb5;
    padding: 10px 6px;
    border: 7px solid #856fb5;
}
.copy{
    padding: 15px 80px;
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
    background: #b395f4;
    opacity: 0.97;
    float: left;
    border: 1px solid #5d4e7f;
}
.copy2{
    padding: 15px 80px;
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
    background: #b395f4;
    opacity: 0.97;
    float: left;
    margin-left: 10px;
    border: 1px solid #5d4e7f;
}
.wappsnet_logo{
    width: 50px;
    height: 42px;
    margin-top: -29px;
    margin-left: -55px;
    position: absolute;
}
.copy2:hover,.copy:hover{
    background: #F1F1F1;
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    color: #434343;
    border: 1px solid #5d4e7f;
}