/*@font-face {
    font-family:ArialUnicode;
    src: url('../fonts/arialuni.TTF');
	
	
}
@font-face {
    font-family: Arian AMU, ArianAMU;
    src: url('fonts/arnamu.ttf');
}

*/
h1,h2,h3,h4,h5,h6,p{
    font-weight: normal;
    margin: 0px;
}

.price_ik {
    font-size: 16px;
    color: #b82406;

}

a{ text-decoration: none;}

b{font-weight: bold;}

i{font-style: italic}

ul{list-style-type:none;margin:0px;padding:0px;}

img{max-width: 100%;border:none;}

.overflow{overflow: hidden;}

.left{
float: left;
margin-bottom: 25px;
}

.right{float: right;
padding-top: 0px;
}

.left_important{display: none !important; float: left }

.right_important{display: list-item !important; float: left}


.center{text-align: center;}

.clear{clear:both;}
 .pl30{padding-left:30px;}
html, body{
    height: 90%;
	  font-family:'ArialUnicode','Arial';
}
body{
	font-size:13px;
	margin:0px;
    height: 70%;
	position: relative;
}
#main_content{
	width:1043px;
	margin:11px 156px 6px 156px;
	background-color:#ffffff;
	border:7px solid #F1F1F1;
	overflow: hidden;
    padding: 0;
    padding-bottom:20px;


}
#main_content .search_line{

}

#main_content .serach_type {
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);	width: 160px;
    text-align: center;
    padding: 9px 10px;
    border: 1px solid #537201;
	margin: -20px 0 10px 30px;
	font-size: 15px;
    border-radius: 3px;
}
#main_content .serach_type2 {
       width: 160px;
    text-align: center;
    padding: 9px 10px;
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);	width: 160px;
    border: 1px solid #537201;
    margin: -75px 0 10px 10px;
    font-size: 15px;
    border-radius: 3px;
}
#main_content .serach_type:hover,#main_content .serach_type2:hover{
    background-color: #80b001;
    background-image: -webkit-linear-gradient(top, #8cc101 0, #80b001 80%, #84b401 100%);
    background-image: linear-gradient(to bottom, #8cc101 0, #80b001 80%, #84b401 100%);	width: 160px;
}
#main_content .search_line a{
	color:#ffffff;
	float:left;
	margin-top:3px;
	font-weight: bold;
	font-size: 12px;
 }
#main_content .top_menu ul#example {
    background: #ff6c02;
	width: 1018px;
    margin-left: 5px;
	margin-bottom: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
}

/*#main_content .top_menu ul#example > li:hover{*/
    /*background: rgb(254,252,234); *//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); *//* IE6-9 */
/*}*/
/*#main_content .top_menu ul#example >li:first-child{*/
	/*background: none !important;*/
	/*}*/
/*#main_content .top_menu ul li a{*/
	/*float: left;*/
    /*margin-top: 1px;*/
	/*padding: 13px  40px;*/
	/*display: block;*/
	/*color: #ffffff;*/
    /*height:20px;*/
    /*font-weight: bold;*/
	/*font-size: 15px;*/
	/*}*/
#main_content .content{
	width: 802px;
	margin: 6px 0px 0px 5px;
}

/********** car_part_block**********/

/*#main_content .car_part_block form{
	margin:25px 0px 0px 15px;
	width:430px;
	float: left;
}*/
#main_content .car_part_block form .row  ,   form .row   { padding:10px;clear: left;}

#main_content .car_part_block form .row  ,   form .row_float   { padding:10px;float:left;}

#main_content .car_part_block form .row  ,   form .row_float_mil   { float:left;padding-top: 10px;}

#main_content .car_part_block form .row label {width:160px;float:left;}

#main_content .car_part_block form .row select   {
    width:200px;
    float:left;
    border: 2px solid #dddddd;
    padding: 12px 10px;
}

#main_content .car_part_block .textarea_box{
	padding:15px 0px 15px 17px;
	background-color:#f2f2f2;
	clear: both;
}
#main_content .car_part_block .textarea_box label{width:160px;float:left;}

#main_content .car_part_block .textarea_box textarea{
	height:120px;
	width:480px;
	padding: 15px;
}
#main_content .car_part_block .car_type , .announcement_field   .car_type  {
    cursor: pointer;
	background: #f0eeef; /* Old browsers */
	background: -moz-linear-gradient(top, #f0eeef 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0eeef), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0eeef 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0eeef 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0eeef 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0eeef 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eeef', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	border:1px solid #a8a8a8; height:30px;
    height: 30px;
	padding: 13px 0px 0 39px;
	margin-left: 5px;
	margin-right: 20px;
    margin-top: 6px;
	width: 750px;
	font-weight: bold;
}
#main_content .car_part_block #car_type3:hover, #main_content .car_part_block #car_type4:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #a58ae1 0, #9a80d1 80%, #a387dd 100%);
    background-image: linear-gradient(to bottom, #a488df 0, #9a81d2 80%, #a084d9 100%);
    color: #ffffff;
}
.step{
    margin: 15px 0 15px 0;
    background: #F1F1F1;
    border: 1px solid #F1F1F1;
    padding: 16px 27px 16px 33px;
    color: #434343;
    float: left;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.step_after {

    position: relative;
    float: left;
    top: 16px;
    border-style: solid;
    border-width: 24px 0 24px 18px;
    margin-right: -17px;
    margin-left: 4px;
    border-color: transparent transparent transparent #ffffff;
    z-index: 9000000;
}
.step_after2 {
    position: absolute;
    float: right;
    top: 0px;
    border-style: solid;
    border-width: 24px 0 24px 20px;
    right: -16px;
    margin-left: 5px;
    border-color: transparent transparent transparent #f1f1f1;
    z-index: 90000001;
}
#main_content .car_part_block .box {
	background-color:#fff;
	overflow: hidden;
    width: 802px;
}
.steps{
    width: 100%;
    background: #dddddd;
    padding: 15px 35px;
    border-top: 15px solid #ffffff;
    border-bottom: 35px solid #ffffff;
    cursor: pointer;
}
.form_steps{
    padding: 12px 48px 12px 28px;
    background: rgb(76, 155, 116);
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    display: block;
    margin: 3px 0 3px 30px;
     width: 250px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.form_steps:hover{
    background: rgba(219, 7, 3, 0.71);
    color: #ffffff;
    cursor: pointer;
}
#main_content .car_part_block .box label{
    font-family: Arial;
    margin-top: 2px;
}
#main_content .car_part_block .car_value{
	width: 297px;
	float: left;
    color: #434343;
	border: 1px solid #d6d3d3;
    background: #feffc5;
	margin: 30px 10px 0px 15px;
	padding:25px 10px;
}
#main_content .car_part_block .car_value .car_value_title{
	font-size:13px;
	font-weight:bold;
	margin:15px 0px 15px 10px;
	background:url("../images/item1.jpg") no-repeat scroll 254px 1px transparent
}
#main_content .car_part_block .car_value p{
	margin-left:25px;
    margin-bottom: 15px;
	line-height:20px;
}
#main_content .car_part_block  .user_recommendation {
    border: 1px dotted #ababab;
    padding:20px;
    margin:5px 14px 10px 15px;
    background: #fbf4ff;
}

#main_content .car_part_block  .user_recommendation ul  li   , .announcement_field  .user_recommendation  ul  li {
	list-style-image: url('../images/red_item.png');
	margin-left: 20px;
	line-height: 20px;
	}

#main_content .car_part_block  .notification , .announcement_field   .notification{
	clear: both;
    margin: 0 auto;
    padding:20px 75px;
    background: #f4f4f4;
    width: 626px;
    text-align: center;
}
#main_content .car_part_block .notification .add_notification {
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
    border-radius:2px;
    padding:9px 25px;
    color:#fff;
}
#choose_login_or_reg2 .add_notification {
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
    border-radius:2px;
    padding:9px 25px;
    color:#fff;
    margin: 4 130px;
}
#choose_login_or_reg2 .add_notification:hover {
    background-color: #83b401;
    background-image: -webkit-linear-gradient(top, #82b201 0, #6e9601 80%, #7fad01 100%);
    background-image: linear-gradient(to bottom, #7faf01 0, #6c9401 80%, #7eac01 100%);
    border: 1px solid #537201;
    color:#fff;
}
#main_content .car_part_block .notification .add_notification:hover {
    background-color: #83b401;
    background-image: -webkit-linear-gradient(top, #82b201 0, #6e9601 80%, #7fad01 100%);
    background-image: linear-gradient(to bottom, #7faf01 0, #6c9401 80%, #7eac01 100%);
    border: 1px solid #537201;
    color:#fff;
}

#main_content .car_part_block .notification .notification_link ,  .announcement_field   .notification .notification_link{
	clear: both;
    color: #2d2d2d;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e7e7e7 80%,#f2f2f2 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e7e7e7 80%,#f2f2f2 100%);
    display: block;
    float: left;
    padding: 9px 18px;
    margin: -9px 0 0 0;
	text-decoration:underline;
}
#main_content .car_part_block .notification .notification_link:hover,  .announcement_field   .notification .notification_link:hover{
    border: 1px solid #d2d2d2;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #dddddd 80%, #e7e7e7 100%);
    background-image: linear-gradient(to bottom, #f0f0f0 0, #dedede 80%, #e8e8e8 100%);
}
#main_content .car_part_block .pictures_panel {
	float: left;
	width: 405px;
	margin:0 0px 0px  5px;
}
#main_content .car_part_block .pictures_panel  ul li a{float:left;margin:5px;}

#main_content .content .upload_image{
    width:300px;float:left;
    background: #feffc5;
    border:1px solid #e2e1e0;
	padding:20px;
	margin:5px 14px 0px 15px;
}
#main_content .car_part_block  .choose_file{clear: both;
    margin-bottom: 10px;
    overflow: hidden;
	}
#main_content .car_part_block  .choose_file_btn{
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
	padding: 9px 18px;
	border-radius:2px;
    margin-left: 5px;
    font-weight: bold;
    float: left;
    font-size: 14px;
	color:#fff;
}
#main_content .car_part_block  .choose_file_btn:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #a58ae1 0, #9a80d1 80%, #a387dd 100%);
    background-image: linear-gradient(to bottom, #a488df 0, #9a81d2 80%, #a084d9 100%);
    color:#fff;
    border: 1px solid #987ecf;
}
#main_content .car_part_block  .file_block{width:190px;float:left;}

#main_content .car_part_block .grey_font{color: #725e9b;font-weight:bold;}

/*****************************sale_form*************************************/

#main_content .sale_form form .row label {
	width: 160px !important;
}

#main_content .sale_form form .row_float label {
    width: 160px !important;
    float: left;
}
/*#main_content .sale_form form {
	margin: 25px 0px 0px 17px;
	width: 420px;
	float: left;
}*/
.groups{
    margin: 25px 0px 0px 17px;
    width: 411px;
    float: left;
	
}
.groups input[type="text"] {width:190px;
    padding: 12px 5px;
    border: 2px solid #dddddd;
}
.groups label{font-family: Arial;}
.descrition select{width:200px;}
#main_content .sale_form  .descrition{
	float: left;
	width: 300px;
	border:1px solid #dedcdc;
	margin:26px 0px 20px 0px;
	padding:30px 5px 50px 25px;
	color:#FFFFFF;
    font-weight:bold;
    background: #8f76c2;
}
.descrition  .ng-scope{clear:both;}
#main_content .sale_form   .icon{
	background: url("../images/item1.jpg") no-repeat scroll top right;
	padding-right: 18px;
	margin: 5px;
}
#main_content .sale_form  .descrition p.user_advice{margin-bottom:15px;}

#main_content .sale_form  .descrition input[type="text"]{
    width:166px;
    right: 15px;
    margin-left:62px;
    margin-right:15px;
    border:2px solid #dddddd;
    padding:13px 5px;
    margin-bottom:2px;
    clear: none;
}

#main_content .sale_form .descrition input[type="checkbox"] {
margin: 11px 15px 21px 100px;
float: left;
}

#main_content .sale_form  .descrition  label{
    padding: 5px 10px 0px 0px ;
    float: left;
}

#main_content .sale_form  .descrition select{
    width: 179px;
    margin-left: 26px;
    right: 15px;
    margin-right: 15px;
    border: 2px solid #dddddd;
    padding: 13px 5px;
    margin-bottom: 2px;
    clear: none;
}

#main_content .sale_form  .check_box{
	width: 250px;
	float: left;
	
	padding:3px 0px 20px 7px;
}
#main_content .sale_form  .box  textarea.info{
	width:280px;
	height: 200px;
	margin:20px 5px 20px 10px;
	}
#main_content .sale_form  .checkbox_row{padding-bottom: 15px;}

#main_content .sale_form  .care_place form {width:800px !important;}

#main_content .sale_form  .care_place form .row{float:left;width:400px;}

#main_content .sale_form  .border_bottom{border-bottom:1px solid #d7d4d4; margin-bottom: 18px;}

#main_content .sale_form  span.red_span{color:red;}

#main_content .sale_form  .user_recommendation {margin-top:10px;}

#main_content .sale_form   .user_recommendation h2.for_user  ,  .car_part_block .user_recommendation h2.for_user {font-weight:bold;margin:10px 0px; font-size:14px;}
 
#main_content .sale_form  .warning_box{
    line-height: 25px;
	width:333px;
    background: #feffc5;
	padding:30px 45px 20px 25px;
	margin: 20px  23px 20px 1px !important;
	border:1px solid #d6d3d3;
}
#main_content  .sale_form .care_place form .panel {
	float: left;
	width: 381px;
	height: 50px;
}
#main_content  .sale_form form .panel label {
	/*width: 160px  !important;*/
	float: left;
}
#main_content  .sale_form form .panel label.small_label {
	width: 50px !important;
	margin-left:40px;
}
#main_content  .sale_form form .panel #icon{float:left;width:30px;margin:3px 0px 0px 3px;}

#main_content .content form .panel select {
	width: 210px;
	float: left;
    padding: 12px 10px;
    border: 2px solid #dddddd;
}
#main_content  .sale_form form  select {
	width: 105px;
    padding: 11px 5px;
    border: 2px solid #dddddd;
	float: left;
}
/******************************************************/
.title{
	background: #f4f4f4;
    font-size: 13px;
    height: 20px;
    margin-bottom: 3px;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 10px 10px 10px 15px;
}
.title5{
    background: #ffffff;
    font-size: 13px;
    height: 34px;
    margin-bottom: 5px;
    color: #ffffff;
}
.title  select{
    margin-top: -5px;
height: 30px;
padding: 5px 0px 5px 10px;
font: 14px/30px Arial, Tahoma, sans-serif;
color: #434343;
border: 1px solid #7663a1;
background-color: #fff;
}

.title h3{font-weight:bold; font-size: 13px; text-align: center; color: #434343;}
.decoration{
	overflow:hidden;
}
.middle_panel{
	width: 585px;
	background-color: #fff;
	margin:0px 0px 7px 0px;
}
.test_exam table tr td{
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
}
.test_exam table{
    border: 1px solid #ffffff;
}
.test_exam blockquote a{
    padding: 12px 12px 12px 35px;
    border: 1px solid #dddddd;
    margin-top: -13px;
    position: relative;
    margin-bottom: 0px;
    display: block;
    background: #feffdd;
    color: #434343;
}
.test_exam blockquote a:hover{
    background: #9c80d3;
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    color: #ffffff;
}
.searching_box{	width: 561px;}
.searching_box .pagina_bottom{width: 379px;}
.middle_panel  .middle_panel_box{
border-top: 1px solid #dddddd;
    background: #F1F1F1;
    margin-bottom:10px;
    padding:15px 10px;
    overflow: hidden;
}
.middle_panel  .middle_panel_box1{border-top: 1px solid #ff9d00;margin-bottom:10px; padding:5px; overflow: hidden;}
.middle_panel  .middle_panel_box .item_block{width: 126px;}
.middle_panel  .middle_panel_box:first-child{border:none;}

.middle_panel  .middle_panel_box .description{
    width:400px;
    margin-left:5px;
    border: 5px solid #fffcf4;
    padding: 12px;
    text-align: center;
    background: #ffffff;}

.middle_panel  .middle_panel_box   .description h2{color:#104ea1;font-size: 13px;margin-left: 10px;font-weight: bold;font-family: "Arial";}

.middle_panel  .middle_panel_box   .description p.car_description , .map_panel   .dillers_proposal p{overflow:hidden;clear: left;padding-top:10px;font-family: "Arial";}

.middle_panel  .middle_panel_box   .description span.price {float:right;width:100px; color: #104ea1;}

.middle_panel  .middle_panel_box   .date span{
    margin-right:0px;
    color:#494949;
}

.middle_panel  .middle_panel_box     .date span:first-child {color:red;display:block; }
.description .my_price {
	color: #104ea1;
	font-weight: bold;
	font-family: "Arial";
	float: right;
    margin-right:20px;
	cursor: pointer;
}
.description .crushed {
    font-weight: bold;
    color: red;
    float: right;
}

.description .type {
    font-weight: bold;
    color: blue;
    float: right;
    margin-right: 10px;
}

.middle_panel  .middle_panel_box   .phone {
	background: url('../images/mobile_icon.png') no-repeat 0px 2px;
	padding-left: 17px;
	margin-top: 40px;
}
.middle_panel  .dropdown{
	left: 3px !important;
	position: absolute;
	z-index: 9999;
	overflow-y: auto;
	overflow-x: hidden;
	list-style: none;
	display: none;
	height: auto;
	bottom: auto;
	top: 26px;
	margin-left: 14px;
	width: 158px;
	min-height: 225px

}
 .bottom_paging{
	float: right;
	clear: left;
	margin-bottom: 5px;
     position: absolute;
     right: 0;
	/*height: 300px;*/
	margin-right: -28px;
	width: 100px;
}
.selectbox{
	position: relative;
	
}
 .bottom_paging .dropdown{

position: absolute !important;
z-index: 9999 !important;
overflow-y: auto !important;
overflow-x: hidden !important;
list-style: none !important;
clear: left;

bottom: auto !important;
top: 4px !important;
margin-left: 12px !important;
width: 67px !important;
position: relative !important;
}
/********************.right_panel ******************************/
.right_panel a span {color:#000; display:block;}
.right_panel{
    width:207px;
    margin-right:0px;
    padding:3px;
background: #f1f1f1; /* Old browsers */
}
.filters_panel{background-color:#fff;padding:3px;}
.red_block{background: rgb(245,1,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,1,0,1) 0%, rgba(200,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,1,0,1)), color-stop(100%,rgba(200,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50100', endColorstr='#c80000',GradientType=0 ); /* IE6-9 */
	height:30px;
	margin: 5px 0px;
}
.right_panel  .red_block h3{padding:5px 0px 0px 10px;color:#fff;}
.right_panel .left_search_block {
border-radius: 3px;
background-color: #fff;
margin: 20px 0px 10px 0px;
position: relative;
width: 193px;
height: 29px;
margin-left: 4px;
}

.right_panel .left_search_block input {
border: none;
outline: none;
float: left;
width: 184px;
height: 27px;
padding-left: 8px;
border-radius: 10px;
}


.right_panel  .left_search_block  a{	background:url("../images/right_search_item.png") no-repeat scroll 0px 1px transparent;
	display: block;
	height: 20px;
	width: 15px;
	float: left;
	position: absolute;
	top: 7px;
	right: 10px;
}
.right_panel  .grey_block{
	background-color: #f1f1f1;
	padding:5px 0px 10px 0px;
	overflow: hidden;
	margin-bottom: 3px;
}
.right_panel  .grey_block span{ display: block;
	width: 182px;
	line-height:20px;
	font-weight:bold;
	padding:8px 10px;
    color: #434343;
    background: #e9e9e9;
    margin-bottom: 2px;
}
.right_panel  .grey_block span:hover{
    background: #ffffff;
}
.right_panel  .grey_title{
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%, rgb(153, 127, 208)), color-stop(100%, rgb(144, 120, 196))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
	color:#fff;
    margin-top:-3px;
	padding:9px 0px 9px 10px;
}	
#additional_div  .grey_title{
	background-color: #272727 !Important;
	text-align: center;
	color: #fff;
}	


.middle_panel  .icon{margin:0px 8px;float:left;}

.middle_panel h3{float:left;width:270px;}

.right_panel  .right_more_button{color:#000;text-decoration: underline;}

.middle_panel  .selectbox{float:right;}

.jqTransformSelectWrapper{
	width: 108px !important; 
	height: 26px !important;
}


/******************************announcement page**************/
.add_announcement{background: rgb(249,250,250); /* Old browsers */
	background: #ffffff;
	float:right;
    width:807px;
    margin:6px 0 0px 0px;
    min-height:520px;
    overflow:hidden;
	}
.add_announcement ul{
    background: #EEEEEE;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 776px;
    height: 355px;
    padding: 65px 65px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:10px 0 10px -1px;
}
.add_announcement  ul li{
    float: left;
    margin-left: 2px;

}
.add_announcement  ul li a {
	color:#ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 28px 10px;
    font-size:14px;
    border: 1px dotted #434343;
    width: 250px !important;
    display:block;
	text-align: center;
    margin-left: 25px;
    padding-left: 45px;
}
.fm1 a{
    background: #6494ee url("../images/car-icon-hi.png") no-repeat 10px 15px;
}
.fm3 a{
    background:#6494ee url("../images/wheel%20(1).png") no-repeat 10px 15px;
}
.fm2 a{
    background:#6494ee url("../images/parking_locked.png") no-repeat 10px 15px;
}
.fm4 a{
    background:#6494ee url("../images/application-icon.png") no-repeat 10px 15px;
}
.fm5 a{
    background:#6494ee url("../images/icon_free_shipping.png") no-repeat 10px 15px;
}
.fm6 a{
    background:#6494ee url("../images/evacuator.png") no-repeat 5px 10px;
}
.fm7 a{
    background:#6494ee url("../images/taxi.png") no-repeat 5px 10px;
}
.add_announcement  ul li img {
    color:#ffffff;
    font-weight: bold;
    margin-bottom: -50px;
    padding: 12px 10px;
    font-size:14px;
    z-index: 2000;
    position: absolute;
    width: 31px !important;
    background-color: #D44032;
    display:block;
    text-align: center;
}
.book{
    width: 210px;
    float: left;
    margin-left: 180px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.plus_one{
    width: 100px;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
    font-size: 51px;
    font-weight: bold;
    color: #ffa203;
}
.add_announcement ul li a:hover{
    background-color: #725e9b;
    opacity: 0.7;
}
/***************************announcement_field ***********************************/
.announcement_field{
	clear: both;
	margin: 2px 10px;
	overflow: hidden;
}
.announcement_field_left{
	width:785px;
	padding-bottom:10px;
	background-color:#fff;
	margin-top:5px;
}
.announcement_field_right{
	width: 233px;
	background-color:#fff;
	margin-top:6px;
}
.announcement_field_right .a{
    background: #F1F1F1;
    font-size:11px;
padding: 10px 17px 10px 17px;
}
.announcement_field_right img{margin:6px;}
.jcarusel_car_date span{padding-left:4px;display:block;}
.announcement_field  .user_recommendation { padding: 15px;}

 .announcement_field  .user_recommendation  h2.for_user {font-weight:bold;margin:10px 0px; font-size:14px;}
 
.announcement_field .car_type{margin-left: 8px; width: 100%; }

#main_content  .announcement_field   .notification .add_notification {
	background-color: #969696;
	border-radius: 5px;
	padding: 5px 15px;
	color: #fff;
}
#main_content .left_part  div#menu .menu  li div ul.menu li a.parent span{background:#ffffff; padding:13px ;border: 1px solid #e1e1e1; margin-bottom: 3px;}
#main_content .left_part  div#menu .menu  li div ul.menu li:last-child a.parent span{
    margin-bottom: 0;
}
#main_content .left_part  div#menu .menu  li div ul.menu li a.parent span:hover{
    background: #9b81d3;
    color: #ffffff;
}
#main_content  .announcement_field .slider_box{font-size:23px;}

#main_content  .announcement_field .slider_box .jcarusel_car_date >span{
	font-size: 17px;
	color: #918580;
	font-weight: bold;
	float: left;
	margin-right: 12px;
}
#main_content  .announcement_field .slider_box .purple_text {color:#b1538b !important; background: #f5f5d7;
    margin-bottom: 10px;
}

#main_content  .announcement_field .slider_box .carusel_car_type {font-weight:bold;font-size: 17px;}


#main_content  .announcement_field table{width:770px; border-collapse: collapse;margin:10px 0px 0px 8px;}

#main_content  .announcement_field table tr {height:28px;border-bottom:2px #a8a8a8 solid;background-color:#d8d9db; border-collapse: collapse;}

#main_content  .announcement_field table tr  td{text-align:center;}

#main_content  .announcement_field .type{width:105px;}

#main_content  .announcement_field .car{width:75px;}

#main_content  .announcement_field .price{width:150px;}

#main_content  .announcement_field .edit{width:95px;}

#main_content  .announcement_field .extend{width:135px;}

#main_content  .announcement_field .above{width:115px;}

#main_content  .announcement_field .delete{width:55px;}

#main_content  .announcement_field .speedy{width:65px;}

#main_content  .announcement_field table thead tr{background:url("../images/field_menu_bg.png") repeat-x scroll 0px 1px transparent;}

#main_content  .announcement_field table thead tr td{background:url("../images/border_item.png") no-repeat  scroll right top transparent;}

.news_list_page{width:807px  !important ;}
/*******************************news_page***********************************/
.news_page { 
	background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(233,233,233,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(233,233,233,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(233,233,233,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(233,233,233,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(233,233,233,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}
.news_page   .ng-binding{line-height:20px;padding-left:10px;}
.news_page  .date_block{
	padding: 7px 35px 10px 25px;
	overflow: hidden;
}
.news_page  .date_block h2{padding-bottom:30px; font-size: 14px;}

.news_page    .news_description  p{padding-bottom:20px; line-height:20px;padding-top:10px;}

.news_page    .img_block  , .news_page    .news_description , .news_page    .news_pagination{padding:0px 30px 0px 25px;}

.news_page    .news_pagination{
	width: 436px;
	margin: 30px 0px 30px 100px;
	padding-bottom: 20px;
}

.news_page    .news_pagination  a{color: #000;display:block; float:left; padding:0px 70px;text-decoration:underline;}


/****************map_block*****************************/

.map_panel{
	width: 775px;	
	margin:26px 10px 0px 0px;
	
}
.map_block h3{width:560px;}
.map_block h2 , .auto_salon h2{
	width: 160px;
	font-size: 14px;
	padding-right: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	background: url("../images/select_arrow.png") no-repeat right 6px;
}
 .auto_salon h2{padding-right: 20px; width: 185px;}
.map_block h2 a , .auto_salon h2 {color:#000;display: block;}
.map_panel .map_block{background-color:#fff;overflow:hidden;}

.map_panel .addres_panel {width:390px}

.map_panel .addres_panel  h1{margin:15px 0px 40px 0px ;}

.map_panel .addres_panel span, .addres_panel  h1{font-size: 16px; font-weight:bold;display:block;text-align:right;line-height:30px;vertical-align:middle;}

.map_panel .dillers_proposal {width: 775px  !important;float:right !important; border:none !important;}

.map_panel .dillers_proposal .middle_panel_box .description {width: 625px;}


/****************dilllers***************************/
.dillers {
	background-color:#fff;
	padding-bottom: 20px;
}
.dillers   .user_part{
	clear: left;
	margin-bottom: 25px;
    overflow: hidden;
    margin: 0px auto;
	width: 350px;
	color:#646464;
	}
.dillers    .user_part .radio_row{float:left;width:162px; margin: 10px 0;}

.dillers    .check_field{
    background: #eeeeff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 809px;
    height: 20px;
    padding: 15px 0;
	overflow: hidden;
    font-weight: bold;
text-align: center;
    margin:-3px 0 10px -1px;
}
.get_fast_reg, .need_reg{
    background: #eeeeff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 809px;
    padding: 15px 0;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:10px 0 10px -1px;
}
.forgot_my_password:hover{
    color: #5d4e7f;
    border-bottom: 1px solid #5d4e7f;
}
.radio_row_clear{
    background: #eeeeff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 786px;
    padding: 15px 0;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:10px 0 65px -10px;
}
.h2{
    background: #fef9e8;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 625px;
    padding: 40px 30px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:75px 50px 15px 50px;
    line-height: 30px;
    font-size: 15px;
    color:#434343;
}
.h3{
    background: #f4f4f4;
    width: 625px;
    padding: 8px 30px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:8px 50px 1px 50px;
    line-height: 30px;
    font-size: 15px;
    color:#434343;
}
.radio_row_clear1{
    background: #eeeeff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) inset;
    width: 786px;
    padding: 20px 0;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:10px 0 5px -10px;
}
.radio_row_clear2{
    background: #eeeeff;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.3) inset;
    width: 786px;
    padding: 20px 0;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    margin:10px 0 35px -10px;
}
.to_main{
margin-left:90px;
    padding: 17px 20px;
    background: #D44032;
    color:#ffffff;
    text-align: center;
    float: left;
    font-size: 13px;
    font-weight:bold;
    width: 250px;
    border: 1px dotted #434343;
    margin-top: 70px;
    margin-bottom: 160px;
}

.to_annaunsments{
    margin-left:10px;
    padding: 17px 20px;
    background: #D44032;
    color:#ffffff !important;
    float: left;
    text-align: center;
    font-size: 13px;
    font-weight:bold;
    width: 250px;
    margin-top: 70px;
    margin-bottom: 160px;
    border: 1px dotted #434343;
}
.to_annaunsments:hover,.to_main:hover{
    background: #d40703;
}

.dillers     .check_field span{color:red}

.dillers .row  .checkbox_row{clear: left;margin-left: 210px;}
.checkbox_row label{font-weight:bold;
    padding-top: 2px;
    font-size: 12px;
    width: 250px;
}
.dillers    .user_part .radio_row label span{ display: block;
    float: left;
    text-align: right;
    width: 113px;
    text-align: center;
    color: #666666;
    font-weight: bold;
	padding: 10px;
    border: 3px solid #aaaaaa;
	}
.check_box{margin: 10px 0px 0px 5px;}
.dillers  form   input , .ng-invalid  form   input [type="text"]{
	width: 277px;
	float: left;
	padding: 10px;
	outline: none;
    margin-left: 3px;
    font-weight:bold;
    border: 2px solid #aaaaaa;
}
.dillers   input[type="checkbox"] {
width: 18px !important;
margin-left: 0px;
    margin-top:15px;
}
.dillers   input[type="radio"] {

width: 30px !important;
    position: absolute;
    margin-left: -32px;
    margin-top: 14px;
    visibility: hidden;
}
.dillers  input[type="radio"][name="personal"]:checked + span {
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    text-align: right;
    width: 113px;
    background: rgba(185, 255, 1, 0.11);
    text-align: center;
    font-weight:bold;
    color: #455f01;
    border: 3px solid #6b9301;
}
.dillers  input[type="radio"][name="dealer1"]:checked + span {
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    text-align: right;
    width: 113px;
    background: rgba(185, 255, 1, 0.09);
    text-align: center;
    font-weight:bold;
    color: #455f01;
    border: 3px solid #6b9301;
}
.dillers  input[type="radio"][name="universal"]:checked + span {
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    text-align: right;
    width: 113px;
    background: rgba(185, 255, 1, 0.08);
    text-align: center;
    font-weight:bold;
    color: #455f01;
    border: 3px solid #6b9301;
}
.dillers  input[type="radio"][name="official"]:checked + span {
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    text-align: right;
    width: 113px;
    background: rgba(185, 255, 1, 0.08);
    text-align: center;
    font-weight:bold;
    color: #455f01;
    border: 3px solid #6b9301;
}
.dillers  .diller_sml_select{
	height: 26px;
	margin: 2px 6px 0px 0px;
	float: left;
	width: 118px;
}
.dillers  form   .middle_input{width:167px  !important;}

.dillers  form .row{width:775px; overflow: hidden;}

.dillers  form .row  .row_item_margin{margin-left:213px;}

.dillers  form .row .dillers  form .row select{
	float:left;
	width:117px;
	height: 26px;
	margin: 2px 5px 0px 0px;
}
.dillers  form  .input_row{
    float:left;
    background-color:#fff;
    width: 297px;}

.dillers  form .row label {padding:15px 10px 0px 0px; float:left; text-align:right;width:200px; font-weight: bold;}

.dillers  form .row .sml_input{width:165px !important;}

.dillers  .user_consent_block{width:380px;margin:0px auto; padding-left: 19px;
}

.dillers  .user_consent_block .use_rule {width:280px;margin-top:12px;}

.dillers  .user_consent_block .use_rule  a {color: #224194 ; text-decoration:underline;}

.dillers  .sign_up_button{
    width: 150px;
    margin-top: -10px;
    color:#ffffff !important;
    float: left;
    border-radius: 2px;
    border:1px solid #656565;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9078c4 0, #7864a3 80%, #856fb5 100%);
    background-image: linear-gradient(to bottom, #9078c4 0, #7864a3 80%, #856fb5 100%);
    font-size: 13px;
    padding: 12px 17px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.45);
}
.clear_up_button{
    width: 100px;
    margin-top: 17px;
    color:#ffffff;
    float: left;
    border-radius: 4px;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ff3707;
    font-size: 13px;
    padding: 10px 23px;
    margin-left: 130px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.45);
}
.clear_up_button:hover{
    background: #ff3707;
}
.dillers  .sign_up_button2:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #a58ae1 0, #9a80d1 80%, #a387dd 100%);
    background-image: linear-gradient(to bottom, #a488df 0, #9a81d2 80%, #a084d9 100%);
    color:#fff;
    border: 1px solid #987ecf;
}
.dillers  .sign_up_button2{
    width: 70px;
    margin-top:2px;
    color:#ffffff;
    float: left;
    border-radius: 2px;
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
    font-size: 14px;
    padding: 5px 23px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.45);
}
.dillers  .sign_up_button:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #a58ae1 0, #9a80d1 80%, #a387dd 100%);
    background-image: linear-gradient(to bottom, #a488df 0, #9a81d2 80%, #a084d9 100%);
    color:#ffffff;
}
.dillers .user_part form {width: 300px;
	overflow: hidden;
	margin-left: 59px;
}
.dillers .user_part form  div{float:left;height:45px;}

.dillers  .user_part form  label {
	text-align:right;
	width: 100px;
	display: block;
	float:left;
	margin-top:3px;
}
.dillers .user_part form input[type="radio"] {float:left;}


/**************pagination**************************/

.pagination{
    height: 19px;
display: block;
    float: left;
width: 562px;
margin: 7px 1px;
padding: 13px 10px;
    background: #f5f5d7;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
}

.pagination a{
    float:left;
    display:block;
    padding:0px 10px;
    color:#FFFFFF;
    font-weight: bold;
    padding: 5px 7px;
    background: #7663a1;
    margin: 0 3px;
    margin-top: -4px;
}
.pagination a:hover{
    background: #a387dd;
}

.pagination  li.selected {color:#b59886;}
.desc{
	background-color: #fff;
	border: 1px solid #fca719;
	padding: 10px;
	width: 265px !important;
	font-family: arial;
	margin-top: -145px;
	margin-left:45px;
}
.desc h2{color:#4768aa;font-size:12px;padding-left:5px; font-weight:bold;}
.desc  .price {color:#4768aa;font-size:12px;padding-left:5px;float: right; font-weight:bold;}
.desc  p{
	clear: left;
	color: #767475;
	font-size: 12px;
	padding-top: 10px;
	font-family: Arial;
	}
/********************main_page**************************/

.main_page{
    width:806px;
    margin:6px 0 0px 0px;
}
.main_page   .car_pagination   button{
    color: #ffffff;
    border:1px solid #ffffff;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%, rgb(153, 127, 208)), color-stop(100%, rgb(144, 120, 196))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
  padding: 7px 10px;
    font-weight: bold;
    margin-top: -6px;
}
.main_page   .car_pagination   button:hover{
    background: #5d4e7f;
}
.main_page .car_banner{
	overflow:hidden;
}
.car_description p{
font-weight:bold;
margin-top:8px;
}
.main_page ul.cars {/*margin: 5px 14px 0px 15px;*/

overflow: hidden;}
.main_page ul#autosContainer {
    margin: 3px 0px 3px 0px;
border: 2px solid #ffffff;
    padding: 8px 8px;
    background: #eeeeee;
overflow: hidden;
}
.main_page ul#autosContainer  li {margin:3px 3px;}
.cars  li{cursor:pointer;margin-top: -10px !important; }

.refresh{margin-left:300px;}
.cars .car_description p{
word-wrap: break-word;
overflow: hidden;
width: 122px;
}
.margin_none{margin:0px !important;}
.remember_row {

background: url("../images/trasnparent_item_5.png") repeat-x;
    background: #856fb5;
    font-size:11px;
    color: #434343;
    padding: 10px 17px 10px 17px;
}
.redactorof_photo{
    padding: 5px 15px;
    margin-top: 2px;
background: #F1F1F1;
    color: #ffffff;
    font-size: 13px;
}
.car_img{border:1px solid #000;}
.main_page ul.cars  li{
    width:176px;
    height:185px;
    padding: 7px 7px;
    float:left;
    background: #FFFFFF;
    margin: 2px 2px;
}
.main_page ul.cars  li:hover{
    background: #f5f5d7;
}

.main_page  .selected_car {
	border: 2px solid #ffffff;
	overflow:hidden;
}
.main_page .car_banner h3 , .main_page  .selected_car h3{width:595px;float:left; font-weight: bold;
font-size: 14px;}

.main_page .car_banner ul.car_pagination , .main_page  .selected_car ul.car_pagination {
    width:150px;float:left;
    color: #434343;
}

.main_page .car_banner ul.car_pagination  li a {float:left;margin:3px;color:#ffffff;display:block;

}

.main_page  .selected_car ul.car_pagination  li a {
    float:left;
    margin:3px 5px;
    display:block;
    color: #ffffff;
    border:1px solid #ffffff;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%, rgb(153, 127, 208)), color-stop(100%, rgb(144, 120, 196))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
    padding: 7px 10px;
    margin-top: -6px;
    font-weight: bold;
}
#news{
    margin: 3px 0px 3px 0px;
    padding: 8px 8px;
    background: #fefbf3;
    overflow: hidden;
}
.main_page  .selected_car ul.car_pagination  li a:hover{
    background: #5d4e7f;
}

.generic_page_form {
	clear:left;/* padding:0px 0px 0px 20px;*/
	background: #F1F1F1;
	overflow: hidden !important;
	margin-top: -16px;
	padding-top: 10px;
	border: 7px solid #ffffff;
}
.generic_page_form .form_box {width: 805px; padding-left:25px; float:left;}

.generic_page_form .form_search_box{
	width: 185px;
	float: left;
	overflow: hidden;
	clear:none;
}
.generic_page_form .form_search_box a.serach_type{
	font-size: 12px !important;
	padding-left: 13px;
	font-weight: bold;
}
.generic_page_form .form_search_box .checkbox_row{
	width:170px; 
	clear:both;
	overflow: hidden;
	margin: -15px 0px;
}
.form_search_box .search_line .search{
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
	color:#fff !important;
	padding:9px 40px;
	display:block;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
	margin: 10px 0px 10px 15px;
     box-shadow: 1px 1px 0 #ccc;
	}
.form_search_box .search_line .search:hover{
    background-color: #80b001;
    background-image: -webkit-linear-gradient(top, #8cc101 0, #80b001 80%, #84b401 100%);
    background-image: linear-gradient(to bottom, #8cc101 0, #80b001 80%, #84b401 100%);
}
.border_box{
    border-left:1px solid #a5a5a5; padding-left: 10px; margin-top: 5px; margin-bottom: 20px; height: 252px;}

.border_box label{display:block; padding:4px 7px 4px 10px; font-size: 12px;}

.generic_page_form  .form_search_box  form{border-left:1px solid #8d8d8d;padding-left:10px;}

.generic_page_form  .form_search_box .search_line {
    overflow: hidden;
}

.generic_page_form  .form_search_box .search_line	.serach_type{
    margin-left:-190px !important;
   position: absolute;
    margin-top: -44px !important;
}

.generic_page_form  .form_search_box label  {width:125px; font-weight: bold; }
/*.generic_page_form .checkbox_row label {width:200px; }*/
.form_search_box input[type="checkbox"] , .form_box  input[type="checkbox"]{width:20px;float:left;margin: 4px;}

.generic_page_form .select_row {float:left; margin: 0px 10px 20px 0px; height: 65px;}
#auto_classes{
    width:145px;
    float: left;
    right: -45px !important;
    height: 75px;
    padding: 9px;
    margin-bottom: 5px;
    border: 3px solid #ffffff;
    background: #F1F1F1;
}
#auto_classes:hover{
    border: 3px solid #dddddd;
    background: #ffffff;
}
.generic_page_form .form_search_box  input[type="text"]{border:1px solid #434343; margin-top:25px; padding:5px; outline:none;}

.generic_page_form  .select_row  select{border:1px dotted #434343; height:30px;}

.generic_page_form  .select_row  select.big_select {width:150px; margin-right: 5px;}

.generic_page_form  .select_row  select.sml_select {width:110px;}

.generic_page_form  .select_row  select.middle_select {width:150px;}

.generic_page_form   span.customSelect {
	font-size:11px;
	background-color: #fff;
	color:#7c7c7c;
	padding:10px 9px;
    margin-bottom: 15px;
	border: 1px dotted #434343;

}
.top_bar_2 .select_row {
margin: 0px 24px 35px 0px !important;
}

.top_bar_1  .form_search_box .search_line{height:45px !important;
}
.top_bar_1 .form_search_box {width:200px;}
.top_bar_1 {width:980px !important;margin-left:95px;}
.top_bar_1 .select_row{margin: 0px 14px 35px 0px !important;}
.top_bar_1 .checkbox_row{margin-left: 173px;float: left;}
.generic_page_form   span.customSelect.changed {background-color: #f0dea4;}

.generic_page_form   .customSelectInner {	background:url("../images/down.png") no-repeat center right;font-family: 'Arial';color: #000000}

.generic_page_form  .select_row  label{
    display: block;
    margin-top: 7px;
    margin-bottom: 9px;
    padding: 7px 0;
    width: 100%;
    background: #836EB3;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: 'ArialUnicode','Arial';
font-size: 13px; }

.main_page   .selected_car_description{width:410px;}

.main_page .selected_car {background-color: #fff; overflow: hidden;
clear: left;}

.main_page    .selected_car_description h2{color:#d50f0d;margin-bottom:30px;}

.main_page   .selected_car_description span.bold{font-weight:bold;}

/*******************auto_salon*****************/
.auto_salon{width:775px;margin:26px 10px 0px 0px; background-color: #fff}
.auto_salon h3{width:546px;}
.auto_salon .regions{
	padding-left:20px;
	overflow: hidden;
	border-bottom: 2px solid #ff9d00;
	margin-bottom:20px;
	clear: both;
	}

.auto_salon .regions li a {float:left;display:block;line-height:20px;vertical-align:middle;height:20px;text-decoration:none;color:#000;margin:10px;width: 165px;}


/**********************im-haytararutyunneri-mek-meqenayi-vacharqi-ditman-dasht-diller*********************************/

.selected_car_info_block .car_description_banner li {float:left;
    padding:8px 14px 0px  15px;
font-family: "Arial";
cursor: pointer;
}
.selected_car_info_block .car_description_banner li a{color:#000; overflow: hidden;}
.selected_car_info_block  .car_type{
    width:370px  !important;
    border: none !important;
    margin: 3px 0px !important;
    overflow: hidden;
}
.selected_car_info_block  .car_type h2 , .selected_car_info_block  .car_type p{font-size:18px;color:red; font-family: "Arial";}
.car_middle_box  .banner {
    width:203px;
    overflow: hidden;
}
.car_middle_box .banner  .grey{background-color:#e4e4e4;}
.car_middle_box  .banner .description_panel{font-size: 12px;float:left;width:184px;padding: 10px ;}
.selected_car_info_block   .additional_information {clear:left;width: 405px;overflow: hidden;}
.selected_car_info_block   .additional_information h2{
    font-style:italic;
    color:#434343;
    font-weight: bold;
    font-size: 15px;
    margin:0;
    padding: 10px 9px;
    background: #ffffff;
}
.selected_car_info_block   .additional_information p{line-height:20px;}
.selected_car_info_block   .car_middle_box {width:410px;margin-left:10px;}
.selected_car_info_block  .grey_banner{
	/*background: rgb(140,138,139); *//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(140,138,139,1) 0%, rgba(95,89,89,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,138,139,1)), color-stop(100%,rgba(95,89,89,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(140,138,139,1) 0%,rgba(95,89,89,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(140,138,139,1) 0%,rgba(95,89,89,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(140,138,139,1) 0%,rgba(95,89,89,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(140,138,139,1) 0%,rgba(95,89,89,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8a8b', endColorstr='#5f5959',GradientType=0 ); *//* IE6-9 */
    background-color: #F1F1F1;
	clear: left;
	overflow: hidden;
	padding:20px 10px;
    color:#434343;
	margin-top: 25px;
}
.selected_car_info_block    .info{
	background: url("../images/green_item.png") no-repeat 3px 4px;
	padding-left: 16px;
}
.selected_car_info_block   .Seller_information{margin-top:20px;background-color: #fefbf3;padding-top:5px;}
.selected_car_info_block   .left_box{width:360px;clear:left;}
.selected_car_info_block   .middle_box{width:350px;}
.selected_car_info_block   .car_box {width:360px;}
.selected_car_info_block   .car_box ul li{margin-right: 4px;margin-top: 4px;}
.selected_car_info_block  .jcarousel_banner {clear:both;padding-top:40px;overflow: hidden;margin:0px 3px 0px 7px ;}
.selected_car_info_block  .jcarousel_banner ul{border-top:1px solid  #458ba5;}
.selected_car_info_block  .jcarousel_banner ul li{float:left;margin:8px;}
.selected_car_info_block   .banner_border{border-right:2px solid #ffffff;}
.selected_car_info_block   .bold{font-weight:bold; font-family: "Arial";}
.selected_car_info_block   .part_1{width:160px;}
.selected_car_info_block   .grey_banner p{
    color:#434343;
    line-height:20px;
    font-weight: bold;
    padding: 15px;
    background: #FFFFFF;
    margin-bottom: 7px;
}
.selected_car_info_block   .grey_banner a{
    color:#434343;
    line-height:20px;
    font-weight: bold;
    padding: 8px 8px 4px 8px;
    margin-top:15px;
    margin-bottom: 15px !important;
    border-bottom: 1px dotted #434343;
    width: 100%;
}
.selected_car_info_block   .grey_banner a:hover{
    color: #5d4e7f;
    border-bottom: 1px dotted #5d4e7f;
}
#send_mess{
    width: 100%;
    padding: 10px 5px;
    background: #eeeeff;
    border-top:2px solid #ffffff;

}
.mess_body{
    width: 100%;
    float: left;
    padding: 15px 30px;
    background: #FFFFFF;
    color: #434343;

}
.selected_car_info_block   .grey_banner h2{
    clear: left;
    font-weight: bold;
    margin-bottom:7px;
    color:#434343;
    background: #FEFBF3;
    padding-bottom: 15px;
    padding-top: 14px;
    border-bottom:2px solid #fff;
    padding-left:8px;
    font-size:14px;}
.selected_car_info_block   .contact_seller{
	padding:25px 15px ;
    padding-left:18px;
    width:170px;
	vertical-align:middle;
	text-decoration:none !important;
    margin-right:-15px !important;
    margin-bottom: 15px;
}
.selected_car_info_block   .contact_seller2{
    padding:10px 15px ;
    padding-left:18px;
    width:120px;
    margin: 7px 15px 7px 20px;
    text-align: center;
    vertical-align:middle;
    border: 1px solid #856fb5;
    border-radius: 3px;
    color: #ffffff;
    text-decoration:none !important;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%, rgb(153, 127, 208)), color-stop(100%, rgb(144, 120, 196))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%, rgb(153, 127, 208) 1%, rgb(144, 120, 196) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
}
.selected_car_info_block   .contact_seller2:hover{
    color:#ffffff;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(190, 162, 255) 1%, rgb(163, 135, 221) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%, rgb(190, 162, 255)), color-stop(100%, rgb(163, 135, 221))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(190, 162, 255) 1%, rgb(163, 135, 221) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(190, 162, 255) 1%, rgb(163, 135, 221) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%, rgb(190, 162, 255) 1%, rgb(163, 135, 221) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%, rgb(190, 162, 255) 1%, rgb(163, 135, 221) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
}
.car_description_banner{
	background: rgb(251,251,251); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	height: 35px;
    margin-top: 6px;
padding-left:0px;
}
.border_item{width:4px !important; padding: 0px !important;}
.selected_car_info_block .red{color:#fe1617; padding-right:5px;}
.white_block{background-color: #fffdea;}
.selected_car_info_block{background: rgb(254,254,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(233,233,233,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(233,233,233,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(233,233,233,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(233,233,233,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(233,233,233,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}
.selected_car_info_block .selected_care_type{font-size:21px; width: 366px;margin-left: 62px; font-family: "Arial";} 
.selected_car_info_block .car_id {font-size:14px;color:#f00101;font-weight:bold; width: 70px;}
/*.selected_car_info_block  .auto_credit{background: url("../images/li_border_item.png") no-repeat right center;}*/
/***************************************/
.car_panel{width:560px;padding-left:1px;overflow:hidden;margin-bottom:30px;}
.car_panel >div {float:left;margin:3px;}
/***************search_page************************/
.search_page .middle_panel_box{height:50px !important;}

.search_page  .selectbox .select {min-width:20px !important; margin:0px  5px ;}

.border{background:none !important;}
.mt5{margin-top:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:7px;}
.mt30{margin-top:30px !important;}
.mt25{margin-top:25px;}
.mb10{margin-bottom:2px; font-weight: bold; text-align: center;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px  !important;}
.mt5{margin-top:5px;}
.ml30{margin-left:30px;}
.mr25{margin-right:25px !important}
.mr20{margin-right:20px !important}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.pt20{padding-top:20px;}
.pl5{padding-left:1px;}
.pr5{padding-right:1px;
margin-right:30px;
    float: left !important;
}
.pt10{padding-top:10px !important;}
.mb0{margin-bottom:0px !important;}

.mr30{margin-right:30px !important}
.mt30{margin-top:25px !important}
.mt30{margin-bottom:25px !important}
.mt10{margin-top:0px !important}
.mt17{margin-top:17px !important}
.mt20{margin-top:20px !important}
.mt15{margin-top:15px !important}
.mt25{margin-top:25px !important}
.mr40{margin-right:5px !important}
.ml35{margin-left:35px !important;}
.ml25{margin-left:25px !important;}

/************car_form************************/
.car_form_box{padding-top:18px !important; overflow: hidden;
    padding-left: 85px;
margin-left: -2px;
    padding-bottom: 20px;
}
.car_form{padding-top:30px !important;}
.car_form  .car_form_box {width: 984px;float:left;margin-left:22px; }
.car_form  .form_search_box {
	width: 290px;
	float: right;
	margin-top: -12px;
}
.car_form .select_row_last{margin-top:-6px;}

.car_form .form_search_box .search_line {height: 40px !important;}

.car_form .select_row .car_label {margin-top: 4px;  text-align: center;}

.angular-google-map {display: block;border: 1px #ccc solid;}
.angular-google-map img {max-width: inherit !important;}

.forgot_password input {

   /* background: rgb(245,1,0);
	background: -moz-linear-gradient(top, rgba(245,1,0,1) 0%, rgba(200,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,1,0,1)), color-stop(100%,rgba(200,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50100', endColorstr='#c80000',GradientType=0 );
    	color: #fff !important;
	padding: 3px 20px 6px 20px;
    	display: block;
  	 -moz-border-radius: 10px;
   	 -webkit-border-radius: 10px;
	    border-radius: 10px;
		*/
   	 margin: 0px -8px 0px 0px;
    	float: right;
	cursor: pointer;
}

#icon {float:left;}
#icon img{margin:3px;}
.ng-invalid{
  float: left;
}
 .care_place .panel{margin-left: 10px;
overflow: hidden;
float: left;
margin: 10px 22px;
height: 50px;
}
.care_place .panel label{
	float: left;
	padding-top: 2px;
	padding-right: 20px;}
#loadingWidget div{

background: none !important;
opacity: 1 !important;
width:0% !important;
height: 0% !important;
position: static !important;
}

}
#loadingWidget span{font-size:12px !important; background-color: transparent !important; color:#000 !important; margin: 5px;
display: block;}
.care_place:last-child{clear:both;}

/********/
.last_viewd {color:#000;font-size: 14px;text-decoration:underline;}
.last_viewd_active{color:#434343;font-size:14px;text-decoration:underline;}
#additional_div{border:1px solid #999999 !important; background-color:#e2e2e2 !important; /*padding:5px;*/}
#additional_div a{
background: url(../images/delete.png) no-repeat ;
color: transparent;
width: 14px;
margin:3px;

float: right;
}
#additional_div  input[type="radio"] {margin:5px;}
#additional_div h3{
	clear: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 0;
}
#additional_div .grey_block{background:none;clear: left;padding-left:20px;}


.grey_block  input[type="checkbox"] {margin-top:4px !important;float:left;}
 #additional_div a.popupe_search{ 
background: rgb(245,1,0);
background: -moz-linear-gradient(top, rgba(245,1,0,1) 0%, rgba(200,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,1,0,1)), color-stop(100%,rgba(200,0,0,1)));
background: -webkit-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50100', endColorstr='#c80000',GradientType=0 );
color:#fff;
border-radius:3px;
margin: 15px 15px 15px 0px;
padding: 5px 15px;
 }
.active_tab{
background-color:#fff;
height: 28px;
}
  #additional_div a.hide{ margin-left: 90px;
margin-top: 15px !important;
display: block;
float: left;
color:#5a5a5a;
}
.input_style {width: 161px !important;
margin-left: 63px;
}
.login_box{
	overflow: hidden;
display: block;
}
#bolcker{background:none !important;}
#vivat select{
    padding:12px 10px;
    width: 170px;
    border: 1px dotted#434343;

}
#loadingWidget {
/*background: url("../images/loader.gif") no-repeat 3px 3px;*/
z-index: 100000;
margin-left: -2px;
height: 50px;
width: 50px;
position: fixed;
background-color: #fff;
opacity: .9;
width: 100%;
height: 100%;
position: fixed
}

.mt10{margin-top:0px;}


.selected_car_info_block   .row{
    overflow: hidden;
    margin-bottom:5px;
    padding: 6px 5px;
    background: #ffffff;
}
.selected_car_info_block   .row  label{
    margin-top: 7px;
    width: 215px;
	display: block;
	float: left;
    margin-left: 35px;

}
.selected_car_info_block   .row   select{
    width:105px !important;
    float:right;
    padding: 5px;
}
.selected_car_info_block   .row   input{
    width:100px;
    padding: 5px;
}
.selected_car_info_block      .row_btn{
	display:block;
	color:#fff;
	background: #c50007; /* Old browsers */
	background: -moz-linear-gradient(top, #c50007 0%, #a00008 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c50007), color-stop(100%,#a00008)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c50007 0%,#a00008 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c50007 0%,#a00008 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c50007 0%,#a00008 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c50007 0%,#a00008 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c50007', endColorstr='#a00008',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	width: 106px;
	float: left;
	margin-left:10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.selected_car_info_block     .row_btn span{
background: url("../images/red_bg_arrow.png") no-repeat ;
	
}
.selected_car_info_block   .row     input[type="checkbox"] {
margin: 3px 14px 3px 4px ;
width:13px  !Important;
}

.top_row {
background: url('../images/row_bg.gif') repeat-x top center;
height: 35px;
border: 1px solid #c7c7c7;
}
.top_row p {
padding-top: 8px;
padding-left: 15px;
color: #d11f1f;
font-size: 15px;
width: 283px;
font-family: "ArialUnicode','Arial";
font-weight: bold;
}
.top_row  a{margin:5px 2px;}
.popup_search

.rosgostrax  input[type="checkbox"] {
margin: 3px 14px 3px 4px !Important;
width: 13px !Important;
float:left !Important;
}
.rosgostrax .label_row  label {
width: 360px   !important;
display: block;
float: left;
}
.block{display:block;}
.imp_right{float:right !important;}
.appa_title {
box-shadow: 1px 1px 1px #8e8e8d;
margin: 3px 0 20px 0px;
}
.red_btn {
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
height: 35px;
    border-radius: 3px;
display: block;
color:#fff;
width: 160px;
}
.red_btn:hover{
    background-color: #80b001;
    background-image: -webkit-linear-gradient(top, #8cc101 0, #80b001 80%, #84b401 100%);
    background-image: linear-gradient(to bottom, #8cc101 0, #80b001 80%, #84b401 100%);
}
.red_btn  span{
text-align: center;
display:block;
    font-size: 14px;
padding-top: 9px;
}
.appa_title_text{
    text-transform: uppercase; color: #ffffff;
    padding:14px 10px;
    padding-left: 25px;
font-size: 15px;
    font-weight: bold;
background: #bea2ff;
font-family: "ArialUnicode','Arial";
}
.ml15{margin-left:5px;}
.car_detailed , .rosgostrax{width:410px;}
.radio_box{
background-color: #f1f1f1;
overflow: hidden;
padding: 10px;
margin-top: 20px;
width:310px;

}
 .rosgostrax .ng-valid{float:left;}
.radio_box .row label{width:285px;}
.radio_box input[type="radio"] {
	width:15px;
}
.carusel_car_type {margin-left:0px;}
.mt7{margin-top:7px;}
.driver_box{border: 1px solid #DFDFDF; 
 border-top-left-radius:5px;
 border-top-right-radius: 5px;
padding-bottom:20px;
margin-bottom:10px;
}
.driver_box .row{
padding:0px 17px;}

.driver_box h2 {
width: 315px;
font-size:13px;
float:left;
}

.driver_title {
height:20px;
padding:10px 5px;
margin-bottom:15px;
background: rgb(195,195,195); /* Old browsers */
background: -moz-linear-gradient(top, rgba(195,195,195,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,195,195,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(195,195,195,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(195,195,195,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
.driver_box   .calculator{
background: url('../images/calculator_icon.gif') no-repeat;
    height: 30px;
    margin-top: 6px;
width: 24px;
margin: 3px;
}
.add_driver{
    background-color: #739e01;
    background-image: -webkit-linear-gradient(top,#739e01 0,#5f8201 80%,#709901 100%);
    background-image: linear-gradient(to bottom,#739e01 0,#5f8201 80%,#709901 100%);
    border: 1px solid #537201;
color: #fff !important;
padding: 14px 30px 14px 30px;
display: block;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 3px;
border: none;
cursor: pointer;
margin: 20px 50px;
width: 160px !important;
}
.add_driver:hover{
    background-color: #80b001;
    background-image: -webkit-linear-gradient(top, #8cc101 0, #80b001 80%, #84b401 100%);
    background-image: linear-gradient(to bottom, #8cc101 0, #80b001 80%, #84b401 100%);
color: #ffffff;
}
.rosgostrax .label_row label {
width: 315px !important;
}
.mark_item{
height: 30px;
}
.minimize_item{
background: url('../images/minimize_pop.gif') no-repeat top right; height: 30px;
float:left;
width:20px;
height:20px;

}
.delete_item{
background: url('../images/delete_pop.gif') no-repeat top right; height: 30px;
float:left;
width:20px;
height:20px;

}
.mark_item.delete_item{
background: url('../../images/qmark _item.gif') no-repeat; 
width:20px;
height:20px;
display:block;
}

.ui-tooltip{border:1px solid #ff9d00 !important;width:115px;padding:10px;color:red;display:block !important;}
.ui-tooltip-content{color:red !important;}

#announcement_name:hover{
    text-decoration:underline;
    cursor: pointer;
}

.right_filter_box
{
	float: left  !important;
	overflow: hidden  !important;
	padding-bottom: 10px !important;
	margin-left: 1px;
	margin-top: 25px;
	cursor: pointer;
    background: #F1F1F1;
}
/*.my_announcements a {*/
/*color: #434343;*/
/*display: block;*/
/*float: left;*/
/*padding: 10px 25px 10px 25px;*/
/*cursor: pointer;*/
    /*margin-top: 15px;*/
    /*background: #ffc200; *//* Old browsers */
    /*background: -moz-linear-gradient(top, #ffc200 0%, #ff9f00 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc200), color-stop(100%,#ff9f00)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, #ffc200 0%,#ff9f00 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff9f00',GradientType=0 ); *//* IE6-9 */
    /*border: 1px solid #ffffff;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*-moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
/*}*/
/*.private_info{*/
    /*color: #434343;*/
    /*display: block;*/
    /*float: left;*/
    /*padding: 10px 25px 10px 25px;*/
    /*cursor: pointer;*/
    /*margin-top: 15px;*/
    /*background: #ffc200; *//* Old browsers */
    /*background: -moz-linear-gradient(top, #ffc200 0%, #ff9f00 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc200), color-stop(100%,#ff9f00)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, #ffc200 0%,#ff9f00 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff9f00',GradientType=0 ); *//* IE6-9 */
    /*border: 1px solid #ffffff;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*border-radius: 4px;*/
    /*margin-left: 7px;*/
    /*-webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*-moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
/*}*/


/*.exit_btn  {*/
    /*color: #434343;*/
    /*float: left;*/
    /*padding: 10px 20px 10px 20px;*/
    /*cursor: pointer;*/
    /*margin-top: 15px;*/
    /*background: #ffc200; *//* Old browsers */
    /*background: -moz-linear-gradient(top, #ffc200 0%, #ff9f00 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc200), color-stop(100%,#ff9f00)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #ffc200 0%,#ff9f00 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, #ffc200 0%,#ff9f00 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff9f00',GradientType=0 ); *//* IE6-9 */
    /*border: 1px solid #ffffff;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*border-radius: 4px;*/
    /*margin-left: 7px;*/
    /*-webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*-moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
    /*box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.45);*/
/*}*/
/*.my_announcements a:hover, .private_info:hover, .exit_btn:hover{*/
/*background: #ff7e0c;*/
/*color: #ffffff;*/
/*border:1px solid #ff7e0c;*/
/*-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.45);*/
/*-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.45);*/
/*box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.45);*/
/*}*/
/*.my_announcements a:active, .private_info:active, .exit_btn:active{*/
/*background: #ff7e0c;*/
/*color: #ffffff;*/
    /*border:none;*/
/*-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.45);*/
/*-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.45);*/
/*box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.45);*/
/*}*/
/*.customSelect {*/
/*font-size: 11px;*/
/*background-color: #fff;*/
/*color: #7c7c7c;*/
/*padding: 5px 7px;*/
/*border: 1px solid #ff9d00;*/

/*}*/
 .bottom_paging  .selectbox .select {min-width:12px !important;} 
 .bottom_paging  .selectbox .dropdown  {min-width:20px !important ;
overflow: hidden !important; } 
.multizoom2 ul {
padding-left: 0px !important;
overflow: hidden;
margin: 0px !important;
}
.accept , .delete{
	margin-top:-5px;display:block; float: left;
	padding: 0px 10px;
	background: rgb(254,252,234);
background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1)));
background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 );
color: #fff !important;
padding: 5px 20px;
display: block;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin: 0px 10px 0px 5px;
box-shadow: 1px 1px 6px #000;
cursor: pointer
}

.desc {
    position:absolute;
    z-index:9999;
    /*color:#fff;*/
    margin-top: -100px;
    margin-left: 125px;
    font-size:10px;
    width:180px;
}

.admin_oper li {
    width: 150px;
    height: 20px;
    padding: 5px;
    background-color: olive;
    margin: 3px;
    text-align: center;
    color: white;

}
.tooltip_starter{
background-color:#fff !important;
padding:5px 10px;
margin-left:20px;
margin-top:20px;
border: 1px solid #ff9d00;
color: red;
}
 .sign_up_button{color:#434343 !important;}
 .refresh_block #refresher{color: #224194; margin-left: 23px;}
 .checkbox_label label {
float: left !important;
width: 107px !important;
margin-top: -3px;
text-align: left !important;
}
.forgot_password{padding:10px; width:800px;}
.forgot_password .radio_row p{overflow: hidden;
width: 760px;} 
.forgot_password_box{width:500px; margin:0px auto 50px auto;}
.forgot_password  label{
    padding:5px 5px 0px 0px;
    display:block;
    margin-top:20px;
}
.forgot_password  [type="email"] {
    border:1px dotted #434343;
    margin-top:10px;
    padding: 15px 10px;
}
.forgot_password_box .sign_up_button{
    margin-left: 170px;
    width: 150px;
    margin-top: 17px;
    color:#ffffff !important;
    float: left;
    border-radius: 4px;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ff3707;
    font-size: 13px;
    padding: 12px 33px;
    margin-bottom:200px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.45);
}


.right_banner_area {
    float: right;
    margin-top: 8px;
    width: 141px;
}
.ng_block{width:700px;}
.img_block {
    padding: 10px 8px;
    width: 173px;
}

body {
    overflow-y: scroll;
}
/*body, button, input, label, select, td, textarea {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}*/
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}
.name_span {
    display: block;
    float: left;
    height: 41px;
    padding: 5px 0 0 5px;
    vertical-align: middle;
    width: 64px;
    word-wrap: break-word;
}
.left_banner_area{
    float: left;position: fixed;width: 154px; margin-top: 8px;
}
.radio_div_box{padding:0px 0px 10px 28px;}
.radio_div_box label{display: block;
float: left;
margin-top: 5px;
}
.radio_div_box  input[type="radio"] {margin: 10px;
}
.dis_block{display:block;}
.grey_block_text{width:155px!important;}
.grey_block_img {width:14px!important;margin-top:3px;}
.left_banner_area .banner , .right_banner_area .banner{position: fixed;}

.banner_right_part{ position: fixed;}

.image_border_selected {
    border: 2px solid #ff9d00;
}

.image_border_not_selected{
    border: 2px solid #ffffff;;
}

.logo_images{
margin: 0 auto;
text-align:center;
   width: 100%;
}
#site_logo{
    width: 245px;
    float: left;
    margin: 0 10px 0 50px;
    padding:5px 0px;

}
#site_logo:hover {

    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;

}
.logo_images2{
    width: 1321px;
    margin: 0 auto;
    display: block;
    height: 227px;
    position: relative;
    padding: 5px 7px 5px 7px;
    margin-top:-1px;
    background: #ffffff;
    border: 7px solid #f1f1f1;


}
.logo_images img:hover{
    border-radius: 3px;
    background: #ffffff;
}
.logo_images img{
    border: 2px solid #5a4880;
    cursor: pointer;
    /*width: 25px;*/
    width: 32px;
    background: #ffffff;
    padding: 3px;
    float: left;
}
.car_description_banner  .border_item span{
margin-top: -18px;
float: left;
display: block;
margin-left: 26px;
}
.car_description_banner  .border_item_car span{
   float: right;
    margin-top: -3px;
    margin-left: 140px;
}
.prev_item {
display: block;
float:left;
}
.btn_block{
position: absolute;
width: 353px;

margin-top: 86px;
}
.next_item {
display: block;
float: left;
}
.multizoom2 {clear:both;}
#multizoom2{height: 208px;
width: 100%;}

.cuteButton {
    background: linear-gradient(to bottom, #F90000 0%, #C60000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 15px;
    line-height: 15px;
    padding: 3px 10px;
    text-decoration: none !important;
    vertical-align: middle;
    font-size: 13px;
    font-family: 'ArialUnicode','Arial';
    color: #FCF9E5;
    text-decoration: underline;
    cursor: pointer;
}

.ann_count{
    position: absolute;
    margin-left: 2px;
    margin-top: -20px;
    color: white;
    background: url('img/photo_count.png') no-repeat top center;
    width: 30px;
}

.form input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 40px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
.add-photo-btn{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background: rgb(254,252,234);
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 );
    color:#fff;
    display:block;
    width:25px !important;
    margin-left:7px;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 10px;
    line-height:30px;
    float:left;
    margin-top: 2px;
    border-radius: 3px;
}
.add-photo-btn:hover{
    background: #d11f1f;
}
/*input[type="text"]{*/
    /*float:left;*/
/*}*/

.carousel_title, .ob_carousel_bottom, .ob_carousel_top{
    display: block;
    width:100%;
    color: white;
    font-size: 10px;
    text-align:center;
    position: absolute;
    line-height: 25px;
    font-weight: bold;
    background: black;
    background: rgba(0,0,0,0.6);
    height: 25px;
}
.carousel_title, .ob_carousel_bottom{
    bottom: 0px;
}
.ob_carousel_top{
    top:0;
}

 .image-browser-close {
    position: absolute;
    top: 10px;
    left: 830px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(../images/lb-close-active.png);
}

 .looping {
     position: absolute;
     margin-left: 155px;
     margin-top: 100px;
 }

 .sf-menu li:hover a{
    color:#ffffff;
 }

.detailed_main_image_container {
    width: 351px !important;
    height: 292px !important;
    text-align: center;
    border: 1px solid rgb(244, 244, 244);
    vertical-align: middle;
    display: table-cell;
    padding: 5px;
    background: #ffffff;
}

.detailed_thumb_image_container {
    width: 115px !important;
    height: 92px !important;
    text-align: center;
    border: 1px solid rgb(245, 245, 215);
    vertical-align: middle;
    display: table-cell;
    background: #ffffff;
}

.list_thumb_image_container {
    width: 122px !important;
    height: 90px !important;
    text-align: center;
    background: #ffffff;
    border: 5px solid #fffcf4;
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 9px;
}

.remembered_thumb_image_container {
    width: 220px !important;
    height: 155px !important;
    text-align: center;
    padding: 10px 5px;
    background: #997fd0;
    border: 2px solid #997fd0;
    vertical-align: middle;
    display: table-cell;
}

.top_thumb_image_container {
    width: 178px !important;
    height: 98px !important;
    text-align: center;
    border: 2px solid #aaaaaa;
    margin-bottom: 7px;
    background: #ffffff;
    padding: 5px;
    vertical-align: middle;
    display: table-cell;
}

.list_thumb_image_container_large_icons {
    width: 192px !important;
    height: 158px !important;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.additional_search_button{
    background-color: rgba(246,0,0,1);
    float: right;
    border-radius: 8px;
    width: 70px;
    height: 24px;
    text-align: center;
    margin: 6px;
    font-weight: bold;
    color: white;
    vertical-align: super;
    line-height: 1.6;
}
#background{
    float: left;
    width: 100px;
    margin-right: 5px;
    border: 2px solid #aaaaaa;
}
#check_box{
    width: 700px !important;

}
#background input{
    float: left;
    visibility: hidden;
}
#background label{
    margin-top: -19px !important;
    padding: 10px;
}
#background input[type="checkbox"][name="id_250"]:checked + label{
    border: 2px solid #6c9401;
}
#background input[type="checkbox"][name="id_256"]:checked + label{
    border: 2px solid #6c9401;
}
#background input[type="checkbox"][name="id_257"]:checked + label{
    border: 2px solid #6c9401;
}
#background input[type="checkbox"][name="id_258"]:checked + label{
    border: 2px solid #6c9401;
}
#background input[type="checkbox"][name="id_259"]:checked + label{
    border: 2px solid #6c9401;
}
#background input[type="checkbox"][name="id_260"]:checked + label{
    border: 2px solid #6c9401;
}
#main_content .sale_form .check_box1 {
    width: 250px;
    float: left;
    margin-left:60px;
    margin-top:7px;
    padding: 3px 0px 20px 7px;
}
#choose_login_or_reg{
    float: left;
    position: relative;
    width: 540px;
    padding: 12px 15px;
    background: #F1F1F1;
    margin: 10px 100px 5px 100px;
}
.validation_message6{
    float: left;
    position: relative;
    width: 500px;
    padding: 20px 35px;
    background: #fffdea;
    margin: -23px 0 10px -45px;
    font-size: 14px;
    line-height: 25px;
    color:#434343;
    display: none;
}
#choose_login_or_reg2{
    float: left;
    position: relative;
    width: 540px;
    padding: 19px 15px;
    background: #F1F1F1;
    margin: 10px 100px;
    margin-top:-550px;
}
.login5{
    float: left;
    padding: 11px 45px;
    margin-left: 125px;
    border-radius: 2px;
    background: #8f76c2;
    color: #ffffff;
    border: 1px solid #816aaf;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.register{
    float: left;
    padding: 11px 45px;
    margin-left: 25px;
    border-radius: 2px;
    color: #434343;
    background: #ffffff;
    border: 1px solid #816aaf;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.login5:hover,.register:hover{
    background: #68568e;
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
    color: #ffffff;
    border: 1px solid #816aaf;
}