[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.validation_message{
    float: right;
    width: 240px;
    left: -20px;
    top: -22px;
    font-size: 12px;
    font-weight: bold;
}
#header{
	background: #ffffff; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc800', endColorstr='#ff9c00',GradientType=0 ); /* IE6-9 */
	height: 325px;
	padding-top: 5px;
    right: 0;
    top: 0;
    float: left;
    z-index: 1000;
	width: 100%;
}
#header .header_block{
	width:1335px;
    height: 90px;
	margin:-5px auto 5px auto;
	overflow: hidden;
    background: #ffffff;
    border: 7px solid #F1F1F1;
}
#header .header_block2{
    width:1008px;
    margin:-5px auto 0 auto;
    overflow: hidden;
    padding-left: 10px;
}
.iforgot:hover{
    border-bottom: 1px dotted #ffffff;
}
.site_rules{
    float: left;
}
.site_rules2{
    float: left;
}
.log_in{
    height: 48px;
    width: 48px;
    float: left;
    background:  url('../images/Login-02.png');
    background-size: 100%;
}
.user_in{
    height: 44px;
    width: 44px;
    float: left;
    background:  url('../images/user.jpg');
    background-size: 100%;
    border-radius:55px ;
}
.log_in:hover{
    background: url("../images/login_hover.png");
    height: 48px;
    width: 48px;
    float: left;
    background-size: 100%;
}
.main_log{
    width: 48px;
    height: 48px;
    float: left;
    background: #836EB3;
    margin-top: -4px;
    border: 2px solid #836EB3;
    padding: 0px;
    margin-left: -32px;
    position: absolute;
    border-radius:55px ;
}
.main_log2{
    width: 48px;
    height: 48px;
    float: left;
    background: #ffffff;
    margin-top: -5px;
    border: 2px solid #ffffff;
    padding: 2px;
    margin-left: -38px;
    position: absolute;
    border-radius:55px ;
}
.log_in2{
    float: right;
    width: 130px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 14px 0;
    margin-top: 0;
}
.log_in3{
    float: right;
    width: 130px;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 0;
    margin-top: 0;
}
.log_contain{
height: 44px;
    width: 130px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -1px;
    color: #ffffff;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9078c4 0, #7864a3 80%, #856fb5 100%);
    background-image: linear-gradient(to bottom, #9078c4 0, #7864a3 80%, #856fb5 100%);
    border: 1px solid #656565;
    border-radius: 3px;
}

.log_contain2{
    height: 44px;
    width: 130px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -1px;
    color: #ffffff;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9078c4 0, #7864a3 80%, #856fb5 100%);
    background-image: linear-gradient(to bottom, #9078c4 0, #7864a3 80%, #856fb5 100%);
    border: 1px solid #656565;
    border-radius: 3px;
}

.log_contain:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #856fb5 0, #9078c4 80%, #997fd0 100%);
    background-image: linear-gradient(to bottom, #856fb5 0, #9b81d3 80%, #997fd0 100%);
}
.log_contain2:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #856fb5 0, #9078c4 80%, #997fd0 100%);
    background-image: linear-gradient(to bottom, #856fb5 0, #9b81d3 80%, #997fd0 100%);
}
.log_contain:hover > .main_log{
    background: #ffffff;
    border: 2px solid #ffffff;
}
.log_contain:hover > .log_in{
    background: url("../images/login_hover.png");
    height: 40px;
    width: 40px;
    float: left;
    background-size: 100%;
}
.log_contain:hover > .log_in2{
   color: #ffffff;
}


.site_rules a{
    padding: 12px 45px;
    margin-left: 30px;
    color: #2d2d2d;
    border:1px solid #d2d2d2;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e7e7e7 80%,#f2f2f2 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e7e7e7 80%,#f2f2f2 100%);
    margin-top: 17px;
    font-size: 14px;
    border-radius: 3px;
    float: left;
    text-align: center;
}
#counter{
    float: left;
    margin-left:150px;
    margin-top: 8px;
    padding:1px 5px;
    background: #997fd0;
}
.count{
    background: #443162;
    border:1px solid #bbbbbb ;
    padding:2px 1px;
    float: left;
    width: 127px;
    margin: 7px 0 2px 0;
}
.count_child{
    padding: 2px 8px;
    float: left;
    background: #856fb5;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    margin:0 1px;
}
.counter_text{
    float: left;
    width: 100%;
    margin-bottom: 7px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    font-style: italic;
}
.site_rules a:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #f4f4f4 0, #e9e9e9 80%, #e1e1e1 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 0, #e9e9e9 80%, #e1e1e1 100%);
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}
.site_rules2 a{
    padding: 12px 45px;
    margin-left: 30px;
    color: #ffffff;
    border:1px solid #656565;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9078c4 0, #7864a3 80%, #856fb5 100%);
    background-image: linear-gradient(to bottom, #9078c4 0, #7864a3 80%, #856fb5 100%);
    margin-top: 17px;
    font-size: 14px;
    border-radius: 3px;
    float: left;
    text-align: center;
}
.site_rules2 a:hover{
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9b81d3 0, #9078c4 80%, #997fd0 100%);
    background-image: linear-gradient(to bottom, #9b81d3 0, #9078c4 80%, #997fd0 100%);
}
#header .header_block .car_item_panel{margin:0px 0px 6px 0px;}
#header .header_block  ul.car_items_block  li{
	height:30px;
	float:left;
	display:block;
	padding:0px 10px;
	min-width: 30px;
}

#header .logo{
	font-size: 40px;
	color: #fff;
	margin: 0px  0px 0px  0px;
	font-family: Arial;
}
.hit_marks{
    float: left;
    width: 163px;
    height: 44px;
    margin-right: 2px;
    margin-bottom: 2px;
    background: #a387dd;
}
#marks_block{
    float: left;
    width: 250px;
    height: 44px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: px;
    margin-bottom: -27px;
    border:10px solid #ffffff;
    background: #ffffff;
display: block;
}
.hit_marks:hover{
    background: #443162;
    /* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}
.hit_marks:hover >.mark_link{
    color: #ffffff;
}
#left_header{
    float: left;
    background: #ffffff;
    width: 200px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    margin-top: -7px;
}
.mark_link{
    width: 116px;
    float: left;
    padding: 15px 0;
    height: 44px;
    font-size: 0.85em;
    color: #333;
    font-weight: bold;
}
#hit_marks{
    width: 100%;
    text-align: center;
    color: #434343;
    font-family: arial;
    font-size: 16px;
    padding: 12px 0;
    background: url('../images/arrow_top_black.png') no-repeat 25px 19px;
    border: 1px dotted #7864a3;
    border-radius: 23px;
    float: left;
}
#all_marks{
    width: 100%;
    text-align: center;
    color: #434343;
    font-family: arial;
    font-size: 16px;
    padding: 12px 0;
    background: url('../images/arrow_down_black.png') no-repeat 25px 19px;
    border: 1px dotted #7864a3;
    border-radius: 23px;
    float: left;
}
#all_marks:hover{
    background: #7864a3 url('../images/arrow_down.png') no-repeat 25px 19px;
    /* Firefox */
    -moz-transition: all 200ms ease-in;
    /* WebKit */
    -webkit-transition: all 200ms ease-in;
    /* Opera */
    -o-transition: all 200ms ease-in;
    /* Standard */
    transition: all 200ms ease-in;
    /* Standard */
    color:#ffffff;

}
#hit_marks:hover{
      background: #7864a3 url('../images/arrow_top.png') no-repeat 25px 19px;
      /* Firefox */
      -moz-transition: all 200ms ease-in;
      /* WebKit */
      -webkit-transition: all 200ms ease-in;
      /* Opera */
      -o-transition: all 200ms ease-in;
      /* Standard */
      transition: all 200ms ease-in;
      /* Standard */
      color:#ffffff;
  }
#all_marks_div{
    float: left;
    display: none;
}

/********login*********/
#header .header_block .login{
	margin: 17px 0px 5px 0px;
	right: 0px;
    float: right;
	}



#header .header_block .login   input[type="text"] {
	height:20px;
	width: 195px;
	border-radius:2px;
	border:1px solid #ff9f00;
	outline:none;
	padding:5px 10px;
	margin-bottom: 7px;
	font-size: 12px;
    border:2px solid #bbbbbb;
 }

#header .header_block .login   input[type="password"] {
    height:20px;
    width: 195px;
    border-radius:2px;
    border:2px solid #bbbbbb;
    outline:none;
    margin-top:-4px;
    padding:5px 10px;
	font-size: 12px;
}
 
#header .header_block  #login_form{width:220px;float:left; margin-top: 2px;}
#header .header_block .login   label{color:#ffffff; margin: 2px;display: block;}

/********change_language*********/
div.change_language {
	position: absolute;
	margin: 63px 0px 0px 3px;

}
div.change_language ul  li {float:left; margin:5px;}

/*******forgot_password**********/
#header .header_block .forgot_password input[type="checkbox"] {
	margin: 3px 3px 3px 14px;
	float:left;
    border: 1px solid #ffffff;
}
#header .header_block .forgot_password {
    float: right;
	width: 195px;
	margin-top:10px;
	}
.login_button{
    color:#434343;
    float: left;
    border-radius: 4px;
    background: #ffc200; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc200 0%, #ff9f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc200), color-stop(100%,#ff9f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc200 0%,#ff9f00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff9f00',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ffffff;
    font-size: 13px;
    padding: 8px 18px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.45);
}
#header .header_block .forgot_password .registration a{
    color:#434343;
    float: left;
    border-radius: 4px;
    background: #ffc200; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc200 0%, #ff9f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc200), color-stop(100%,#ff9f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc200 0%,#ff9f00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc200 0%,#ff9f00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff9f00',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ffffff;
    font-size: 13px;
    padding: 8px 23px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.45);
}
.login_button:hover, #header .header_block .forgot_password .registration a:hover{
    background: #ff7e0c;
    color: #ffffff;
    border:1px solid #ff7e0c;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.45);
}
.login_button:hover, #header .header_block .forgot_password .registration a:active{
    background: #ff7e0c;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.45);
}
#header .header_block .forgot_password p{
    float:left;
    margin-left:15px;
    color:#ffffff;
}

/* List-Bar
---------------------------------------- */
#list, #list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#list {
    width: 160px;
    position: absolute;
    margin: 18px auto;
    float: right;
    right: 25px;
    border:1px dotted #656565;
    background:  url("../images/list_preview.png") no-repeat 10px 9px;

}
#list:hover{
    background: #836EB3 url("../images/list_preview2.png") no-repeat 10px 8px;
color: #ffffff;
}
#list:hover > .log_in3{
    color: #ffffff;
}

#list:before, #list:after {
    content: "";
    display: table;
}

#list:after {
    clear: both;
}

#list {
    zoom:1;
}

#list li {
    float: left;

    position: relative;
}

#list span {
    float: left;
    color: #434343;
    font: arial;
    padding-right: 30px;
    text-decoration: none;
}

#list li:hover > span {
    color: #434343;
}
#list li:hover > span .log_in3 {
    color: #ffffff;
}

*html #list li span:hover { /* Только для IE6 */
    color: #434343;
}

#list ul {
    margin: 20px 30px 0 0px;
    _margin: 0; /*Только для IE6*/
    visibility: hidden;
    position: absolute;
    float: left;
    top: 41px;
    width: 158px;
    left: -1px;
    background: #F1F1F1;
    border: 2px solid #836EB3;
    -moz-box-shadow: 0 1px rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 rgba(255,255,255,.3);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#list li:hover > ul {
    opacity: 1;
    z-index: 1000000;
    position: absolute;
    visibility: visible;
    margin: 0;
}

#list ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*Только для IE6*/
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#list ul li {
    float: none;
    display: block;
    border: 0;
    border-bottom:1px solid #e9e9e9;

}

#list ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#list ul span {
    /*Только для IE6*/
    display: block;
    white-space: nowrap;
    text-align: center;
    color: #434343;
    float: none;
    text-transform: none;
}
#list ul span a{
    padding: 9px 0;
    width: 158px;
    _height: 10px;
    display: block;
}

#list ul span:hover {
   background: #ffffff;
}


#list ul li:first-child > span {

}

#list ul li:first-child > span:after {
    content: '';
    left: 40px;
    position: absolute;
    float: left;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
}




#list ul ul li:first-child span:hover:after {
    content: '';
    left: 40px;
    position: absolute;
    float: left;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
}

#list ul li:last-child > span {

}

#list ul ul li:first-child span:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#list ul li:first-child span:hover:after {
    border-bottom-color: #ffffff;
}

#list ul ul li:first-child span:hover:after {
    border-right-color: #9078c4;
    border-bottom-color: transparent;
}


/* Top_menu-Bar
---------------------------------------- */
#examp, #list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#examp {
    width: 1029px;
    float: left;
    margin-left: 5px;
    margin: 0px 7px 0px 7px;
    background: #9b81d3;

}

#examp:hover > .log_in3{
    color: #ffffff;
}

#examp:before, #list:after {
    content: "";
    display: table;
}

#examp:after {
    clear: both;
}

#examp {
    zoom:1;
}

#examp li {
    float: left;
    position: relative;
    border-right: 1px solid #5d4e7f;
    border-left: none;
    font-size: 13px;
    padding: 0 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: url("../images/list_preview2.png") no-repeat 13px 8px;
}

#examp a {
    float: left;
    color: #ffffff;
    padding: 12px 0;
    text-align: center;
    font: arial;
    text-decoration: none;
    width: 100%;
}

#examp li:hover > span {
    color: #434343;
}
#examp li:hover > a .log_in3 {
    color: #ffffff;
}

*html #examp li a:hover { /* Только для IE6 */
    color: #434343;
}

#examp ul {
    margin: 20px 30px 0 0px;
    _margin: 0; /*Только для IE6*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    float: left;
    top: 41px;
    left: -1px;
    width: 260px;
    z-index: 1000000;
    background: #F1F1F1;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#examp li:hover > ul {
    opacity: 1;
    z-index: 1000000;
    position: absolute;
    visibility: visible;
    margin: 0;
}

#examp ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*Только для IE6*/
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#examp ul li {
    float: none;
    display: block;
    border: 0;
    border-bottom:1px solid #d6d6d6;
    background: none;
}

#examp ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
#examp li:last-child {
   background: none;
    border-right: none;
}
#examp li:first-child{
    background: none;
}

#examp ul a {
    padding: 11px 0;
    width: 100%;
    _height: 10px; /*Только для IE6*/
    display: block;
    white-space: nowrap;
    text-align: left;
    color: #434343;
    float: none;
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
}

#examp ul li:hover {
    background: #ffffff;
}


#examp ul li:first-child > a {

}

#examp ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1f1f1;
    z-index: 100000;
}
/*a*/
#examp ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #f1f1f1;
}

#examp ul li:first-child a:hover:after {
    border-bottom-color: #ffffff;
}

#examp ul ul li:first-child a:hover:after {
    border-right-color: #9078c4;
    border-bottom-color: transparent;
}

#examp ul li:last-child > a {

}
