#main_content  .left_part{
	width:217px;
	margin: 6px 5px 0px 7px;
}
#main_content  .left_part h3.advertisement_title{
	background: #9b81d3;
	width: 188px;
    color:#ffffff;
    letter-spacing: 2ex;
	padding: 10px 10px 10px 15px;
	margin: 5px 0px 5px 0px;
	font-weight: bold;
    border: 1px solid #5d4e7f;
}
#main_content  .left_part .banner{
    border: 2px solid #ffffff;
    overflow: hidden;
    background: #F1F1F1;
    padding: 9px;
}

#main_content  .left_part h2 , #content  .left_part h3.advertisement_title{
	letter-spacing: 3px;
	font-size:12px;
	width:211px;
}
/*
#main_content  .left_part .announcement_block  {
	border: 1px solid #fca719;
	border-top:none;
	width: 215px;
	padding-left: 7px;
}
#main_content  .left_part .announcement_block li{height:30px;}

#main_content  .left_part .announcement_block li img{float:left; margin-top: 10px;}

#main_content  .left_part .announcement_block  a span{
	color: #000;
	border-bottom: 1px solid #fca719;
	float: left;
	display: block;
	width: 200px;
	height: 23px;
	padding: 6px 0px 0px 8px;
}
*/
#main_content  .left_part  .announcement_block {
	background: #FF7504;
	height: 33px;
	text-align:center;
	padding: 3px 0px 0px 3px;
	color:#fff;
	width: 215px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
}

#main_content  .left_part   .announcement_block h2.announcement_title{
	background:  url(../images/arrow_left.png) no-repeat 8px 10px;
	padding-left: 10px;
	color: #000;
	line-height: 15px;
	font-weight: bold;
}
#main_content  .left_part   .announcement_block h2.announcement_title a{
	color: #000;
}
