/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 25.01.2010
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

#menu, #menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu {
    width: 215px;
    position:relative;
    z-index:999;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e8e7e7',GradientType=0 ); /* IE6-9 */
}

* html #menu, * html #menu ul { }
#menu div {
    width:200px;
    float: left;
    background: #F1F1F1;
    margin-top: -50px;
    position:relative;
    /*padding-top:9px;*/
}
#menu div ul {
    background: #ffffff;
}
#menu li div {
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    margin: -28px 0 0 0.05em;
    left: 100%;
}

#menu li div ul li:hover{
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(246,0,0,1) 1%, rgba(197,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(1%,rgba(246,0,0,1)), color-stop(100%,rgba(197,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(246,0,0,1) 1%,rgba(197,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c50000',GradientType=0 ); /* IE6-9 */
}
* html #menu li div, *+html #menu li div { margin-top:-42px; }

#menu li:hover>div { visibility:visible; }

* html #menu li { height:34px; }

#menu li a {
    display:block;
    font-size:11px;
    font-weight:normal;
    text-decoration:none;
    color:#434343;
    cursor:pointer;
    position:relative;
    z-index:9;
}
*+html #menu li a { padding-top:12px; }
* html #menu li a { padding-top:10px; }

#menu li span {
    line-height:14px;
    display:block;
    font-size: 12px;
    font-weight: bold;
}
#menu li span:hover{
    color:#434343;
}

*+html #menu li span { padding-bottom:10px; }

* html #menu li span {
    height:24px;
    padding-bottom:2px;
}

#menu li li a.parent:hover span, #menu.js-active li li a.parent:hover span { }
#menu li.back {
    width:170px;
    z-index:8;
    position:absolute;
    background:url(images/lavalamp.gif) no-repeat 5px bottom;
}
#menu li.back .left {
    width:170px;
    float:none;
    position:relative;
    top:0;
    left:0;
    height:7px;
    overflow:hidden;
    padding:0;
    margin:0;
    visibility:visible;
}
#menu>ul>li {
    border: 1px solid #d6d6d6;
    margin-bottom: 3px;
    background: #ededed url('../images/arrow_right3.png') no-repeat 20px 10px;
    padding:13px 24px 13px 50px;
    word-wrap: break-word;
}#menu>ul>li:hover{
     background: #ffffff url('../images/arrow_right3.png') no-repeat 20px 10px;
 }
* html #menu div, * html #menu div ul {}
*+html #menu li { border-bottom:1px solid transparent; }
.menu{
   background: #ffffff;
    padding-top:0px !important;
}
.grey_block .ng-binding img {
    margin-top: 3px;
    display: block;
    float: left;
    margin-right: 3px;
}