div.fadeLayout {
    opacity:    0.5;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}

div.paymentContent {
    position: fixed;
    width:500px;
    height:200px;
    background-color:#FFF;
    padding:10px;
    border:5px solid #CCC;
    z-index:200;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    border-radius: 15px;
}

div.horizontalRule {
    clear:both;
    width:100%;
    background-color:#d1d1d1;
    height:1px;
    margin-top:5px;
    margin-bottom:5px;
}

a.closeButton {
    background: linear-gradient(to bottom, #F90000 0%, #C60000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    float: right;
    height: 15px;
    line-height: 15px;
    padding: 3px 10px;
    text-decoration: none !important;
    vertical-align: middle;
    font-size: 13px;
    font-family: 'ArialUnicode','Arial';
    color: #FCF9E5;
    text-decoration: underline;
}
div.hidden {
    display: none;
}

div.active {
    display: block;
}