.caruselUp{
    background: url('../images/up.png') center center no-repeat;
    background-position:center;
    width:61px;
    height:40px;
    border:0px;
    cursor:pointer;
}

.caruselDown{
    background: url('../images/down.png') center center no-repeat;
    background-position:center;
    width:47px;
    height:61px;
    border:0px;
    cursor:pointer;
}

.activeTab-true{
    color:red;
    text-decoration:underline
}

.activeTab-false{
    color:blue;
}

.addition{

}