.selectbox {
	vertical-align: middle;
	position: absolute !important;
	cursor: pointer;
}

.selectbox .select {
	min-width: 75px;
	height: 25px;
	padding: 0 45px 0 10px;
	font: 14px/30px Arial, Tahoma, sans-serif;
	color: #333;
	border: 1px solid #FCA719;
    border-radius: 10px;
	background-color:#fff;
	line-height: 26px;
}

.selectbox.focused .select {
	border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.selectbox .trigger .arrow {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 14px;
    top: 11px;
    width: 0;
}

.selectbox .dropdown {
	top: 27px;
	left:-10px;
	height:90px !important;
	min-width: 131px;
	margin: 0;
	border: 1px solid #FCA719;
   border-radius: 10px;
	background-color:#fff;
	font: 14px/18px Arial, Tahoma, sans-serif;

}

.search_page  .selectbox .dropdown {min-width:70px;}
.selectbox li {
	padding: 5px 10px 6px;
	color: #231F20;
}
