.worker-item, .worker-item_li  {
    width: 153px;
    text-align: center;
    position: relative;
    float: left;
    display: inline-block;
    z-index: 2;
    border-bottom: 1px solid #d5d6d1;
}
.worker-item {
    min-height: 132px;
}
.worker-item_li {
    min-height: 118px;
}
.worker-item p{
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: black;
}
.worker-item a{
    text-decoration: none;
    color: black;
    display: block;
}
.worker-item a > span{
    display: block;
}

.worker-hidden.worker-item {
    pointer-events: none;
    z-index: 1;
}
.worker-item > div{
    border-right: 1px solid #d5d6d1;
    margin: 3px 0;
    min-height: inherit;
}
.worker {
    text-align: center;
    position: relative;
    /*    overflow: scroll; */
    height: 74%;
    display: block;
    width: 600px;
    float: left;
    padding-bottom: 60px;
    border-right: 2px solid #72716f;
}
.bottom_carousel{
    /*width: 100% !important;*/
    clear: both;
    /*background: white;*/
    z-index: 1000;
    /*position: absolute;*/
    bottom: 0;
}
.full_width .bottom_carousel{
    width: 93%;
}
.bottom_cards{
    position: absolute;
}

.slider1>li{
    width: 146px;
    float: left;
    border: 1px solid #ccc;
}
.observe_bot{
    position: relative;
    height: 119px;
    width: 1000px;
    z-index: 1000;
    float: left;
}
#slider_ul{
    float: left;
    position: relative;
    left: 0;
    list-style: none;
    padding: 0;
    border: 1px solid #458ba5;
}

.full_width .banner_side{
    width: 200px;
}
.full_width div.jMyCarousel ul li img{
    width: 150px;
    height: auto;
}
.full_width #multizoom2, .full_width .targetarea{
    width: 390px;
    max-width: 400px;
}
.full_w_r_side{
    width: 205px;
    float: right;
    margin-right: 10px;
}
.full_w_r_side>div{
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}
