

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}


.jcarousel-skin-tango .jcarousel-container-vertical {
    /*width: 150px;*/
    height: 847px;
    padding: 40px 5px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  200px;
    height: 850px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 200px;
    height: 161px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}



.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: -9px;
	left: 85px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background:  url(../images/carusel_arrow_next.png) no-repeat ;
}


.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;

}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 12px;
	left: 85px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background:  url(../images/carusel_arrow_prev.png) no-repeat ;
	 
}


.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;

}
