/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	margin-top: 40px;
	left: 0;
	z-index: 1003;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #13a;
}
.sf-menu li {
	background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
/*.sf-menu ul li {*/
	/*background: #ff7504;*/
/*}*/
/*.sf-menu ul ul li {*/
/*}*/
.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 51%;
	right: 1em;
	margin-top: 3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: 5px;
	margin-right: -5px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
.current li {
background: #ff7504;
    height: 47px;
    padding: 0 5px;
    margin:0 1px 0 0;
    font-size: 13px !important;
    box-shadow: 1px 1px 0px rgb(207, 104, 4) inset;
}
.current li:hover{
    background: rgb(245,1,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,1,0,1) 0%, rgba(200,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,1,0,1)), color-stop(100%,rgba(200,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50100', endColorstr='#c80000',GradientType=0 ); /* IE6-9 */
}
ul#example li.current ul li {
}
ul#example li.current ul li:first-child{
    margin-top: 4px;
}
.sf-menu .cuurent {
    color:#fff;
}

.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    color: #ffffff !important;
    background: rgb(245,1,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,1,0,1) 0%, rgba(200,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,1,0,1)), color-stop(100%,rgba(200,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,1,0,1) 0%,rgba(200,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50100', endColorstr='#c80000',GradientType=0 ); /* IE6-9 */
}