.input-help {
    display: block;
    position:absolute;
    z-index: 100;
    top: -10px;
    left: 390px;
    width:200px;
    padding:10px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #aaa;
    border:1px solid #ec3f41;
    opacity: 0.9;
}

.input-help-1 {
    display: block;
    position:absolute;
    z-index: 100;
    top: -10px;
    left: 200px;
    width:200px;
    padding:10px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #aaa;
    border:1px solid #ec3f41;
    opacity: 0.9;
}
.input-help:before {
    content: "\25C0";
    position: absolute;
    top:10px;
    left:-12px;
    font-size:16px;
    line-height:16px;
    color:#ec3f41;
    text-shadow:none;
}

.input-help-1:before {
    content: "\25C0";
    position: absolute;
    top:10px;
    left:-12px;
    font-size:16px;
    line-height:16px;
    color:#ec3f41;
    text-shadow:none;
}
.input-help h4 {
    margin:0;
    padding:0;
    font-weight: normal;
    font-size: 1.1em;
}

.input-help-1 h4 {
    margin:0;
    padding:0;
    font-weight: normal;
    font-size: 1.1em;
}

.input-help-user-register{
    display: inline;
    position: absolute;
}

.input-help-user-register span{
    display: block;
    position:relative;
    z-index: 100;
    top: -7px;
    left: 7px;
    width:200px;
    padding:10px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #aaa;
    border:1px solid #ec3f41;
    opacity: 0.9;
}

.input-help-user-register span:before {
    content: "\25C0";
    position: absolute;
    top:10px;
    left:-12px;
    font-size:16px;
    line-height:16px;
    color:#ec3f41;
    text-shadow:none;
}

.input-help-user-register span h4{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size: 1.1em;
}

/* Show a blue border while an input has focus, make sure it overrides everything else */
/* Overriding Twitter Bootstrap cuz I don't agree we need to alarm the user while they're typing */
select:focus {
    color: black !important;
}

input:focus {
    color: black !important;
}


/* Show green border when stuff has been typed in, and its valid */
.ng-dirty.ng-valid {
    -moz-transition: all 2s ease-in;
    /* WebKit */
    -webkit-transition: all 2s ease-in;
    /* Opera */
    -o-transition: all 2s ease-in;
    /* Standard */
    transition: all 2s ease-in;
    border-color: #6b9301;
}

/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid {
    -moz-transition: all 3s ease-in;
    /* WebKit */
    -webkit-transition: all 3s ease-in;
    /* Opera */
    -o-transition: all 3s ease-in;
    /* Standard */
    transition: all 3s ease-in;
    border-color: #dd7999;
}



