/* PDD-TEST GLOBAL STYLES */
#pdd-test {
    width: 772px;
    font: normal 14px/1 "helvetica neue", helvetica, arial, sans-serif;
    color: #003;
    background-color: #FFF;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pdd-test .pdd-sbmt {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #9078c4 0, #7864a3 80%, #856fb5 100%);
    background-image: linear-gradient(to bottom, #9078c4 0, #7864a3 80%, #856fb5 100%);
    border: 1px solid #725e9b;
    border-radius: 3px;
    color: #ffffff;
    font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 12px 45px 12px 45px;
    text-decoration: none;
    margin-bottom: 25px;
    text-align: center;
    outline: none;
}

#pdd-test .pdd-sbmt:not(.pdd-disabled):hover {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #856fb5 0, #9078c4 80%, #997fd0 100%);
    background-image: linear-gradient(to bottom, #856fb5 0, #9b81d3 80%, #997fd0 100%);
    color: #ffffff;
    border: 1px solid #816aaf;
    cursor: pointer;
}

#pdd-test .pdd-sbmt:not(.pdd-disabled):active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
}

#pdd-test .pdd-sbmt.pdd-disabled {
    opacity: 0.7;
}

#pdd-test td {
    border-radius: 1px;
}

#pdd-test p {
    text-indent: 0;
    text-align: left;
}

#pdd-test .pdd-tpl {
    padding: 10px;
    background: #EEEEEE;
    margin-top: -1px;
    padding: 20px 20px;
}

/* TABS */
#pdd-tabs {
    list-style: none;
    margin: -10px 0 5px 0;
    padding: 15px 25px;
    background: #EEEEEE;
    overflow: auto;
}

#pdd-tabs li {
    float: left;
    margin: 0 3px 15px 0;
    border: 1px solid #dddddd;
    padding: 13px 50px;
    background: #ffffff;
    transition: background 1s;
}

#pdd-tabs li:not(.pdd-active) {
    cursor: pointer;
}

#pdd-tabs li.pdd-active {
    background-color: #6c9401;
    border: 1px solid #7faf01;
    color: #FFF;
}

/* LOADING TPL */
#pdd-loading .pdd-loading-inner {
    margin: 92px 240px;
    width: 48px;
    height: 48px;
    background: url(loading.gif) no-repeat;
    overflow: hidden;
    text-indent: -100px;
}

/* CATEGORIES TPL */
#pdd-categories .pdd-category {
    cursor: pointer;
    margin: 0;
    border: solid 2px #ffffff;
    border-left-width: 0;
    border-right-width: 0;
    opacity: 0.7;
    margin-top: -1px;
    padding:13px 25px;
}

#pdd-categories .pdd-category:hover {
    opacity: 1;
    color: #000;
}

#pdd-categories table.pdd-category-bilets {
    border-collapse: separate;
    border-spacing: 5px;
    display: none;
    margin: 5px auto;
}

#pdd-categories .pdd-category-header {
    margin-left: 15px;
    padding: 5px 10px;
    border: 2px solid #ffffff;
    background: #ffffff;
    line-height: 25px;
}
#pdd-categories .pdd-category-header:hover{
    background: #fffdea;
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

#pdd-categories .pdd-category-header th {
    white-space: nowrap;
    vertical-align: top;
    font-weight: normal;
    width: 110px;
    font-weight: bold;
    color: #333333;
    padding: 10px 0;
}

.pdd-category-header td {
    padding: 3px 0 3px 10px;
}

/* NUMBERS TPL */
#pdd-bilets {
    width: 100%;
}

#pdd-bilets td,
.pdd-category-bilets td {
    width: 122px;
    height: 50px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #fff 50%, #e8e8e8 90%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #e8e8e8 90%, #f0f0f0 100%);
    box-shadow: 0 1px 3px #d7d7d7;
    border: solid 1px #B1B9CB;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    color: #535353;
}

#pdd-bilets td:hover,
.pdd-category-bilets td:hover {
    background-color: #B1B9CB;
    color: #db0703;
}

#pdd-bilets td.pdd-bilet-passed,
.pdd-category-bilets td.pdd-bilet-passed {
    color: white;
    background-color: green;
    background: rgb(120, 201, 134);
    background: -moz-linear-gradient(top, rgba(120, 201, 134, 1) 0%, rgba(0, 107, 23, 1) 53%, rgba(117, 196, 154, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(120, 201, 134, 1)), color-stop(53%, rgba(0, 107, 23, 1)), color-stop(100%, rgba(117, 196, 154, 1)));
    background: -webkit-linear-gradient(top, rgba(120, 201, 134, 1) 0%, rgba(0, 107, 23, 1) 53%, rgba(117, 196, 154, 1) 100%);
    background: -o-linear-gradient(top, rgba(120, 201, 134, 1) 0%, rgba(0, 107, 23, 1) 53%, rgba(117, 196, 154, 1) 100%);
    background: -ms-linear-gradient(top, rgba(120, 201, 134, 1) 0%, rgba(0, 107, 23, 1) 53%, rgba(117, 196, 154, 1) 100%);
    background: linear-gradient(to bottom, rgba(120, 201, 134, 1) 0%, rgba(0, 107, 23, 1) 53%, rgba(117, 196, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78c986', endColorstr='#75c49a', GradientType=0);
    border-color: green;
}

#pdd-bilets td.pdd-bilet-failed,
.pdd-category-bilets td.pdd-bilet-failed {
    color: white;
    background: red;
    background: rgb(255, 153, 153);
    background: -moz-linear-gradient(top, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 0, 1) 53%, rgba(255, 153, 153, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 153, 153, 1)), color-stop(53%, rgba(255, 0, 0, 1)), color-stop(100%, rgba(255, 153, 153, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 0, 1) 53%, rgba(255, 153, 153, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 0, 1) 53%, rgba(255, 153, 153, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 0, 1) 53%, rgba(255, 153, 153, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 0, 1) 53%, rgba(255, 153, 153, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9999', endColorstr='#ff9999', GradientType=0);
    border-color: red;
}

/* BILET TPL */
#pdd-test #pdd-bilet {
    padding-bottom: 0;
    font-family: sans-serif;
}

#pdd-res-line {
    margin: auto;
}

#pdd-res-line {
    list-style: none outside none;
    margin: 0 auto 35px auto;
    padding: 0;
    width: 720px;
    height: 22px;
}

#pdd-res-line li {
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    border: 1px solid #434343;
    margin: 0 3px;
    padding: 0px;
    background-color: #ffffff;
}

#pdd-res-line .pdd-answered-qst {
    background-color: transparent;
}

#pdd-res-line .pdd-success-qst {
    background: #58b284;
    background-position: 0 0px;
}

#pdd-res-line .pdd-fail-qst {
    background: #ffb0b0;
    background-position: 0 20px;
}

#pdd-bilet-info {
    margin: 10px auto;
    padding: 15px 15px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 100%;
    background: #ffffff;
}

#pdd-bilet-info #pdd-bilet-number {
    width: 33%;
    font-size: 14px;
    font-style: italic;
}

#pdd-bilet-info #pdd-bilet-qst-header {
    width: 33%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

#pdd-bilet-info #pdd-bilet-time-wrapper {
    width: 33%;
    text-align: right;
}

#pdd-bilet-info #pdd-bilet-time {
    font-size: 12px;
    padding: 7px 10px;
    cursor: pointer;
    width: 55px;
    border: 1px solid #434343;
    background-color: #ffffff;
    color: #d40703;
}

#pdd-bilet-info #pdd-bilet-time:active {
    background-color: #777;
    color: #FFF;
}

#pdd-bilet img {
    margin: 15px auto;
    display: block;
}

#pdd-bilet #pdd-bilet-qst {
    font-weight: bold;
    margin: 15px 0 15px 8px;
}

#pdd-bilet input {
    vertical-align: middle;
    margin: 0 7px;
    outline: none;
}

#pdd-bilet label {
    display: block;
    margin: 5px 0px;
    line-height: 25px;
    padding: 10px;
    border-top:1px solid #dddddd;
    cursor: pointer;
    font-weight: normal;
}

#pdd-bilet label:hover {
    background-color: #F0F5F9;
}

#pdd-bilet .pdd-sbmt {
    margin: 10px;
}

#pdd-bilet-toggle-comment {
    text-align: right;
    cursor: pointer;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
    color: #434343;
    text-decoration: underline;
    padding: 15px 35px;
}
#pdd-bilet-toggle-comment:hover{
    background: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#pdd-bilet-comment {
    display: none;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    line-height: 125%;
    background: #ffffff;
    margin: 10px 0;
    padding:25px 27px;
    font-size: 85%;
}

#pdd-show-comment:hover {
    color: #000;
}

#pdd-bilet-close {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 90px;
    color: #ffffff;
    font-weight: bold;
    background: #4c9b74;
    border: solid 2px #ffffff;
    border-bottom-width: 0;
    cursor: pointer;
    padding: 10px 3px;
    font-size: 85%;
}

#pdd-bilet-close:hover {
    background-color: #FFF;
    color: #434343;
}

.pdd-right-ans span {
    color: green;
}

.pdd-fail-ans span {
    color: red;
}

/* RESULT TPL */
#pdd-result {
    text-align: center;
    padding-bottom: 20px;
}

#pdd-result table {
    margin: 10px auto;
}

#pdd-result table caption {
    font-weight: bold;
    padding: 9px;
}

#pdd-result td {
    padding: 5px 3px;
    text-align: left;
}

#pdd-result.pdd-res-success table {
    color: #394;
}

#pdd-result.pdd-res-fail table {
    color: #F45;
}
#pdd-result .pdd-result-success {
    text-align: center;
    color: green;
}

#pdd-result .pdd-result-fail {
    text-align: center;
    color: red;
    padding: 25px 30px;
    font-weight: bold;
    margin: 10px auto;
}
#pdd-bilet-qst{
    line-height: 25px;
    color:#434343;
}

/* EXAMINE TPL */
#pdd-examine {
    text-align: center;
    padding-bottom: 20px;
}

#pdd-examine p {
    line-height: 150%;
    margin: 20px;
    text-align: center;
}

/* STATISTICS BLOCK */
#pdd-statistics {
    margin: 1em 0;
    background: #EEEEEE;
    padding: 15px 35px;
}

#pdd-statistics table {
    border-spacing: 0;
    border-collapse: collapse;
}

#pdd-statistics td {
    padding: 3px;

}

#pdd-statistics caption {
    font-weight: bold;
    text-align: left;
    margin: 3px 0;
}

#pdd-statistics .pdd-statistics-passed {
    color: green;
}

#pdd-statistics .pdd-statistics-failed {
    color: red;
}

#pdd-statistics .pdd-statistics-remain {
    color: gray;
}

#pdd-statistics .pdd-statistics-average td {
    border-top: 1px solid black;
}

/* PDD TEST VERSION */
#pdd-test-version {
    margin: 1px auto;
    text-align: center;
    font-size: 80%;
}
